Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

sort_pyproject:
  name: sort pyproject.toml
  entry: toml-sort
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  language: python
  additional_dependencies:
  - toml-sort==0.24.3

ty-boltz:
  name: ty (boltz environment)
  entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-rf3:
  name: ty (rf3 environment)
  entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-protenix:
  name: ty (protenix environment)
  entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

0.13.0
  pyproject.toml
Due: sort_pyproject

fix(tooling): align Ruff with Python 3.11 (#318)
  pyproject.toml
Due: sort_pyproject

0.13.1
  pyproject.toml
Due: sort_pyproject

refactor(config): distinguish model names from objects
  GRID_SEARCH.md
  run_grid_search.py
  src/sampleworks/cli/guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/cli/test_guidance_cli.py
  tests/integration/test_mismatch_integration.py
  tests/test_run_grid_search.py
  tests/utils/conftest.py
  tests/utils/test_guidance_script_arguments.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

chore(deps): pin ty to 0.0.39
  pixi.lock
  pyproject.toml
Due: sort_pyproject

fix(rewards): reuse density input preprocessing
  src/sampleworks/core/rewards/real_space_density.py
  tests/rewards/test_real_space_density_reward.py
Due: none

refactor(synthetic): move generation out of eval
  AGENTS.md
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/synthetic/__init__.py
  src/sampleworks/synthetic/generate_synthetic_sf.py
  src/sampleworks/synthetic/synthetic_utils.py
  tests/synthetic/test_generate_synthetic_sf.py
  tests/synthetic/test_synthetic_utils.py
Due: ty-boltz

refactor(models): remove unused x_init
  AGENTS.md
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/protocol.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/integration/test_no_guidance_geometry.py
  tests/integration/test_pipeline_integration.py
  tests/mocks/model_wrappers.py
  tests/models/boltz/test_boltz_wrapper.py
  tests/models/test_model_wrapper_protocol.py
  tests/models/test_rf3_atom_ordering.py
  tests/models/test_rf3_chiral_features.py
Due: ty-boltz, ty-rf3, ty-protenix

fix(rewards): clarify reward input types
  src/sampleworks/core/rewards/real_space_density.py
  tests/rewards/test_real_space_density_reward.py
Due: none

refactor(utils): move selection helpers out of eval
  scripts/eval/classify_altloc_regions.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/synthetic/synthetic_utils.py
  src/sampleworks/utils/atom_array_utils.py
  tests/eval/test_structure_utils.py
Due: ty-boltz

S only optimization
  docs/CODEBASE_GUIDE.md
  docs/IT_OPTIMIZATION_NOTES.md
  docs/IT_OPTIMIZATION_PLAN.md
  docs/IT_OPT_REFERENCE_COMPARISON.md
  docs/IT_OPT_TESTING_PROTENIX.md
  it_opt_pod_test.py
  src/sampleworks/core/scalers/latent_optimization.py
  src/sampleworks/models/latent_adapter.py
  src/sampleworks/models/protenix/wrapper.py
  tests/eval/script_loader.py
  tests/models/test_latent_adapter.py
Due: ty-boltz, ty-protenix

chore(deps): pin ty to 0.0.39 (#327)
  pixi.lock
  pyproject.toml
Due: sort_pyproject

test(models): cover batched prior steps
  tests/models/test_model_wrapper_protocol.py
Due: ty-boltz

refactor(models): remove unused x_init (#330)
  AGENTS.md
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/protocol.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/integration/test_no_guidance_geometry.py
  tests/integration/test_pipeline_integration.py
  tests/mocks/model_wrappers.py
  tests/models/boltz/test_boltz_wrapper.py
  tests/models/test_model_wrapper_protocol.py
  tests/models/test_rf3_atom_ordering.py
  tests/models/test_rf3_chiral_features.py
Due: ty-boltz, ty-rf3, ty-protenix

feat(protpardelle): add pixi env and bake into image/CI
  .github/workflows/ci.yml
  Dockerfile
  pixi.lock
  pyproject.toml
Due: sort_pyproject

ci: keep protpardelle-dev out of cpu-tests until #300 lands wrapper
  .github/workflows/ci.yml
Due: none

chore(protpardelle): address review — pypi torch, drop dup override, wire tasks
  pixi.lock
  pyproject.toml
Due: sort_pyproject

feat(protpardelle): add pixi env and bake into image/CI (#331)
  .github/workflows/ci.yml
  Dockerfile
  pixi.lock
  pyproject.toml
Due: sort_pyproject

0.14.0
  pyproject.toml
Due: sort_pyproject

ci: pin pixi-version to v0.73.0 in setup-pixi
  .github/workflows/ci.yml
  .github/workflows/gpu-tests.yml
Due: none

ci: add workflow_dispatch relock job
  .github/workflows/relock.yml
Due: none

precommit in case that claude did wrong things.
  docs/IT_OPT_GIT_WORKFLOW.md
  it_opt_pod_test.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/eval/test_patch_output_cif_files.py
Due: ty-boltz

restored 1st time
  docs/IT_OPTIMIZATION_PLAN.md
  docs/IT_OPT_REFERENCE_COMPARISON.md
  src/sampleworks/core/scalers/latent_optimization.py
Due: ty-boltz

ci: pin pixi-version in setup-pixi for deterministic lock validation (#334)
  .github/workflows/ci.yml
  .github/workflows/gpu-tests.yml
  .github/workflows/relock.yml
Due: none

feat(eval): canonicalize mixed-altloc modified residues
  src/sampleworks/eval/structure_utils.py
  tests/eval/test_structure_utils.py
Due: ty-boltz

fix(eval): drop incompatible atoms when canonicalizing mixed-altloc residues
  src/sampleworks/eval/structure_utils.py
  tests/eval/test_structure_utils.py
Due: ty-boltz

fix: address Marcus comment and make it slightly cleaner
  src/sampleworks/eval/structure_utils.py
Due: ty-boltz

feat(eval): canonicalize mixed-altloc modified residues (#263)
  src/sampleworks/eval/structure_utils.py
  tests/eval/test_structure_utils.py
Due: ty-boltz

0.15.0
  pyproject.toml
Due: sort_pyproject

feat(eval): add min-altloc-RMSD grid-search evaluation script
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rmsd_evaluation_script.py
  src/sampleworks/eval/grid_search_eval_utils.py
  tests/eval/test_rmsd_evaluation_script.py
Due: ty-boltz

removing/modifying tests that are outdated/useless
  pixi.lock
  tests/integration/test_mismatch_integration.py
  tests/test_imports.py
Due: ty-boltz

Made a wrapper for atomworks' that uses ccd_mirror_path=None and hydrogen_policy='remove', and use that for all of the structure_xxxx fixtures unless they set other options for parse.
  tests/conftest.py
Due: ty-boltz

Add docstring to new helper function parse_and_remove_hydrogens
  tests/conftest.py
Due: ty-boltz

refactor(config): distinguish model names from objects (#326)
  GRID_SEARCH.md
  run_grid_search.py
  src/sampleworks/cli/guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/cli/test_guidance_cli.py
  tests/integration/test_mismatch_integration.py
  tests/test_run_grid_search.py
  tests/utils/conftest.py
  tests/utils/test_guidance_script_arguments.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

fix(rewards): reuse density input preprocessing (#328)
  src/sampleworks/core/rewards/real_space_density.py
  tests/rewards/test_real_space_density_reward.py
Due: none

0.15.1
  pyproject.toml
Due: sort_pyproject

test: combine atom_array_utils imports after merge (ruff I001)
  tests/eval/test_structure_utils.py
Due: ty-boltz

refactor(synthetic): move generation out of eval (#329)
  AGENTS.md
  scripts/eval/classify_altloc_regions.py
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/synthetic/__init__.py
  src/sampleworks/synthetic/generate_synthetic_sf.py
  src/sampleworks/synthetic/synthetic_utils.py
  src/sampleworks/utils/atom_array_utils.py
  tests/eval/test_structure_utils.py
  tests/synthetic/test_generate_synthetic_sf.py
  tests/synthetic/test_synthetic_utils.py
Due: ty-boltz

Updating tests in test_runner.py to allow them to run on only one GPU
  tests/runs/test_runner.py
Due: ty-boltz

feat(models): add Protpardelle-1c StructureModelWrapper
  src/sampleworks/models/protpardelle/__init__.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/imports.py
  tests/models/protpardelle/__init__.py
  tests/models/protpardelle/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ty-boltz: any of: \.py$, but not: (real_space_density|protenix|rf3|rfd3)
  ty-rf3: any of: (rf3|rfd3) and \.py$
  ty-protenix: any of: protenix and \.py$
