Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

sort_pyproject:
  name: sort pyproject.toml
  entry: toml-sort
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  language: python
  additional_dependencies:
  - toml-sort==0.24.3

ty-boltz:
  name: ty (boltz environment)
  entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-rf3:
  name: ty (rf3 environment)
  entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-protenix:
  name: ty (protenix environment)
  entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

fix(imports,tests): support bare require_* decorators; clean up protpardelle temp dirs (#297)
  src/sampleworks/utils/imports.py
  tests/models/protpardelle/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

fix(protpardelle): complete denoising step wiring (#267)
  src/sampleworks/models/protpardelle/wrapper.py
Due: ty-boltz

Addressing f/b from @kchrispens and fixing lint issues
  src/sampleworks/cli/guidance.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
  tests/runs/test_runner.py
Due: ty-boltz

feat(models): add Protpardelle-1c StructureModelWrapper
  src/sampleworks/models/protpardelle/__init__.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/imports.py
  tests/models/protpardelle/__init__.py
  tests/models/protpardelle/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

minor fixes from PR 300 f/b
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

Add @overloads to decorators in imports.py to satisfy ty checks
  src/sampleworks/utils/imports.py
Due: ty-boltz

refactor(protpardelle)!: remove inert sampling config fields and CLI flags
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/cli/test_guidance_cli.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

fix ruff issue w/ dimensions of tensor
  src/sampleworks/models/protpardelle/wrapper.py
Due: ty-boltz

add some comments about the protpardelle atom_mask
  src/sampleworks/models/protpardelle/wrapper.py
Due: ty-boltz

feat(deps): add tmol energy function for guided sampling
  TMOL_BUILD.md
  pyproject.toml
Due: sort_pyproject

feat(it-opt): latent-injection adapter scaffold (step 1)
  .gitignore
  docs/latent_adapter/generate_solution_diagram.py
  docs/latent_adapter/implementation_roadmap.md
  docs/latent_adapter/latent_adapter_solution.png
  docs/latent_adapter/latent_adapter_solution.svg
  docs/latent_adapter/latent_adapter_solution_downstream.png
  docs/latent_adapter/latent_adapter_solution_downstream.svg
  docs/latent_adapter/latent_adapter_solution_step1.png
  docs/latent_adapter/latent_adapter_solution_step1.svg
  docs/latent_adapter/latent_space_optimization.md
  src/sampleworks/models/latent_adapter.py
  tests/models/test_latent_adapter.py
Due: ty-boltz

fix(eval): serialize synthetic CUDA batch jobs
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/generate_synthetic_sf.py
  src/sampleworks/eval/synthetic_utils.py
  tests/eval/test_synthetic_utils.py
Due: ty-boltz

docs(deps): explain NumPy 1.x cap
  pyproject.toml
Due: sort_pyproject

perf(rf3): reuse initialized model runtime
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/models/test_rf3_device_selection.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz, ty-rf3

fix(tooling): align Ruff with Python 3.11
  pyproject.toml
Due: sort_pyproject

feat(rewards): add tmol plausibility reward function
  src/sampleworks/core/rewards/tmol_plausibility.py
Due: ty-boltz

feat(guidance): wire tmol plausibility reward into guidance pipeline
  src/sampleworks/core/rewards/tmol_plausibility.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

feat(rewards): add composite reward combining density and tmol plausibility
  src/sampleworks/core/rewards/composite.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

docs: drop TMOL_BUILD.md, keep tmol build notes inline in pyproject
  TMOL_BUILD.md
  pyproject.toml
Due: sort_pyproject

style: satisfy ruff and ty for the tmol/composite changes
  src/sampleworks/core/rewards/composite.py
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/rewards/tmol_plausibility.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

test(rewards): add CompositeReward tests and tidy tmol logging
  src/sampleworks/core/rewards/tmol_plausibility.py
  tests/rewards/test_composite.py
Due: ty-boltz

Fix Docstring syntax for increased readability
  src/sampleworks/core/rewards/tmol_plausibility.py
Due: ty-boltz

refactor(config): distinguish model names from objects
  GRID_SEARCH.md
  run_grid_search.py
  src/sampleworks/cli/guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/cli/test_guidance_cli.py
  tests/integration/test_mismatch_integration.py
  tests/test_run_grid_search.py
  tests/utils/conftest.py
  tests/utils/test_guidance_script_arguments.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

feat(eval): discover trials from job metadata
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/eval/grid_search_eval_utils.py
  tests/eval/test_eval_dataclasses.py
  tests/eval/test_grid_search_trial_metadata.py
Due: ty-boltz

feat(eval): use recorded RSCC input paths
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/eval/eval_dataclasses.py
Due: ty-boltz

docs(deps): explain NumPy 1.x cap (#316)
  pyproject.toml
Due: sort_pyproject

Potential fix for pull request finding
  scripts/patch_output_cif_files.py
Due: ty-boltz

fix(rf3): validate reused model ownership
  src/sampleworks/models/rf3/wrapper.py
  tests/models/test_rf3_device_selection.py
Due: ty-rf3

docs(rf3): explain inference engine attachment
  src/sampleworks/models/rf3/wrapper.py
Due: ty-rf3

refactor(config): drop legacy model-name migration
  run_grid_search.py
  src/sampleworks/utils/guidance_script_arguments.py
  tests/test_run_grid_search.py
  tests/utils/test_guidance_script_arguments.py
Due: ty-boltz

fix(eval): record and resolve altloc occupancies
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/eval/test_grid_search_trial_metadata.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

Fix a wrong suggestion from copilot
  scripts/patch_output_cif_files.py
Due: ty-boltz

perf(rf3): reuse initialized model runtime (#317)
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/models/test_rf3_device_selection.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz, ty-rf3

0.12.3
  pyproject.toml
Due: sort_pyproject

fix(eval): serialize synthetic CUDA batch jobs (#315)
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/generate_synthetic_sf.py
  src/sampleworks/eval/synthetic_utils.py
  tests/eval/test_synthetic_utils.py
Due: ty-boltz

0.12.4
  pyproject.toml
Due: sort_pyproject

feat(eval): discover trials from job metadata (#321)
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/eval/test_eval_dataclasses.py
  tests/eval/test_grid_search_trial_metadata.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ty-boltz: any of: \.py$, but not: (real_space_density|protenix|rf3|rfd3)
  ty-rf3: any of: (rf3|rfd3) and \.py$
  ty-protenix: any of: protenix and \.py$
