Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.24.3

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--verbose, --fix]
      # Run the formatter.
      - id: ruff-format
        args: [--verbose]

  - repo: local
    hooks:
      - id: ty-boltz
        name: ty (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix|rf3|rfd3)
        priority: 50

      - id: ty-rf3
        name: ty (rf3 environment)
        entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: (rf3|rfd3)
        priority: 50

      - id: ty-protenix
        name: ty (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix
        priority: 50

feat: support extended (12-char) PDB IDs in output CIF patching (#292)
  analyses/all.toml
  analyses/analyze_grid_search.toml
  analyses/external_tools.toml
  scripts/eval/EVALUATION.md
  scripts/patch_output_cif_files.py
  tests/eval/script_loader.py
  tests/eval/test_patch_output_cif_files.py
  tests/runs/test_runner.py
Due: ty-boltz

0.17.0
  pyproject.toml
Due: sort_pyproject

test(rewards): scope reward fixtures to a rewards conftest
  tests/conftest.py
  tests/rewards/conftest.py
Due: ty-boltz

style(rewards): strip trailing whitespace in contract test docstring
  tests/rewards/test_reward_function_contract.py
Due: ty-boltz

test(rewards): extract reward-agnostic contract tests into shared module
  tests/rewards/reward_input_helpers.py
  tests/rewards/test_real_space_density_reward.py
  tests/rewards/test_reward_function_contract.py
Due: ty-boltz

test(rewards): tighten real_space true-structure loss bar to 0.01
  tests/rewards/test_reward_function_contract.py
Due: ty-boltz

test(rewards): restore RealSpaceRewardFunction import after rebase
  tests/rewards/test_real_space_density_reward.py
Due: none

style(rewards): sort restored import (order-by-type=false)
  tests/rewards/test_real_space_density_reward.py
Due: none

test(rewards): extract reward-agnostic contract tests and scope fixtures (#323)
  tests/conftest.py
  tests/rewards/conftest.py
  tests/rewards/reward_input_helpers.py
  tests/rewards/test_real_space_density_reward.py
  tests/rewards/test_reward_function_contract.py
Due: ty-boltz

fix(eval): write het_flag when converting AtomArray to gemmi residue
  src/sampleworks/synthetic/synthetic_utils.py
Due: ty-boltz

style(eval): apply ruff format and import sorting to synthetic SF files
  src/sampleworks/synthetic/generate_synthetic_sf.py
  src/sampleworks/synthetic/synthetic_utils.py
  tests/synthetic/test_generate_synthetic_sf.py
Due: ty-boltz

test(eval): use named dataset fixtures in resolve_mtz_column tests
  tests/synthetic/test_generate_synthetic_sf.py
Due: ty-boltz

fix(eval): rewrite atomarray_to_gemmi to preserve res_id/altloc on round trip
  src/sampleworks/synthetic/generate_synthetic_sf.py
  src/sampleworks/synthetic/synthetic_utils.py
  tests/synthetic/test_generate_synthetic_sf.py
Due: ty-boltz

feat(eval): write Fprotein and Ftotal sets to one MTZ with dtype-resolved columns
  src/sampleworks/synthetic/generate_synthetic_sf.py
  src/sampleworks/synthetic/synthetic_utils.py
  tests/synthetic/test_generate_synthetic_sf.py
Due: ty-boltz

test(eval): make atomarray to gemmi round trip and multichain test more rigorous
  tests/synthetic/test_generate_synthetic_sf.py
Due: ty-boltz

style(eval): cast rs.DataSet.rename result to satisfy ty
  src/sampleworks/synthetic/generate_synthetic_sf.py
Due: ty-boltz

fix(eval): guard against column collisions when merging SF datasets
  src/sampleworks/synthetic/generate_synthetic_sf.py
Due: ty-boltz

style(eval): fix ruff import section and formatting after rebase
  src/sampleworks/synthetic/synthetic_utils.py
  tests/synthetic/test_generate_synthetic_sf.py
Due: ty-boltz

Split checkpoints into per-file layers for parallel cold pulls
  Dockerfile
Due: none

fix(docker): drop catch-all checkpoint COPY that duplicated every layer
  Dockerfile
Due: none

S + Z working model with good metrics(backup before refraction)
  docs/PERSONAL_CODING_STYLE.md
  src/sampleworks/core/rewards/geometry.py
  src/sampleworks/core/scalers/latent_optimization.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

Split checkpoints into per-file layers for parallel cold pulls (#342)
  Dockerfile
Due: none

feat(eval): generate synthetic sf mtz with Fprotein and Ftotal and correct cif saving (#322)
  src/sampleworks/synthetic/generate_synthetic_sf.py
  src/sampleworks/synthetic/synthetic_utils.py
  tests/synthetic/test_generate_synthetic_sf.py
Due: ty-boltz

0.18.0
  pyproject.toml
Due: sort_pyproject

Update tests and runs code to use new protpardelle preset
  src/sampleworks/runs/schema.py
  tests/runs/conftest.py
  tests/runs/test_cli.py
  tests/runs/test_loader.py
Due: ty-boltz

Reformat the optimization script to improve readability for general scientists
  src/sampleworks/core/rewards/geometry.py
  src/sampleworks/core/scalers/latent_optimization.py
  src/sampleworks/models/latent_adapter.py
  src/sampleworks/utils/guidance_script_arguments.py
Due: ty-boltz

Determine the prefactor for the bond loss
  src/sampleworks/core/scalers/latent_optimization.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

fix(actl): honor RUNTIME_PIXI project dir over baked image env
  run_analysis
  run_experiments
Due: none

fix(actl): honor RUNTIME_PIXI project dir over baked image env (#343)
  run_analysis
  run_experiments
Due: none

0.18.1
  pyproject.toml
Due: sort_pyproject

ci: validate Dockerfile on PRs via source-check build
  .github/workflows/docker-validate.yml
Due: none

Remove the outdated implementations with the updated documents.
  docs/CODEBASE_GUIDE.md
  docs/IT_OPTIMIZATION_PLAN.md
  docs/IT_OPT_API_PLAN.txt
  docs/IT_OPT_API_REFERENCE.md
  docs/IT_OPT_VERIFICATION.md
  docs/latent_adapter/archived_injector_family.md
  docs/latent_adapter/generate_solution_diagram.py
  docs/latent_adapter/implementation_roadmap.md
  docs/latent_adapter/latent_space_optimization.md
  src/sampleworks/models/latent_adapter.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/models/test_latent_adapter.py
Due: ty-boltz

fix(grid-search): run protpardelle jobs in their pixi env
  run_grid_search.py
  tests/test_run_grid_search.py
Due: ty-boltz

Added a simple latent optimization test
  IT_OPT_ARCHITECTURE_OVERVIEW.txt
  docs/IT_OPTIMIZATION_NOTES.md
  docs/IT_OPT_TESTING_PROTENIX.md
  tests/models/test_latent_optimization.py
Due: ty-boltz

refactor(grid-search): derive the worker log path in one place
  run_grid_search.py
Due: ty-boltz

Fixed multiple bug according to Copilot comments. Untracked the design document to consolidate.
  IT_OPT_ARCHITECTURE_OVERVIEW.txt
  docs/CODEBASE_GUIDE.md
  docs/IT_OPTIMIZATION_NOTES.md
  docs/IT_OPTIMIZATION_PLAN.md
  docs/IT_OPT_API_PLAN.txt
  docs/IT_OPT_API_REFERENCE.md
  docs/IT_OPT_GIT_WORKFLOW.md
  docs/IT_OPT_REFERENCE_COMPARISON.md
  docs/IT_OPT_TESTING_PROTENIX.md
  docs/IT_OPT_VERIFICATION.md
  docs/PERSONAL_CODING_STYLE.md
  docs/latent_adapter/archived_injector_family.md
  docs/latent_adapter/implementation_roadmap.md
  docs/latent_adapter/latent_adapter_solution.png
  docs/latent_adapter/latent_adapter_solution.svg
  docs/latent_adapter/latent_adapter_solution_downstream.png
  docs/latent_adapter/latent_adapter_solution_downstream.svg
  docs/latent_adapter/latent_adapter_solution_step1.png
  docs/latent_adapter/latent_adapter_solution_step1.svg
  docs/latent_adapter/latent_space_optimization.md
  src/sampleworks/core/rewards/geometry.py
  src/sampleworks/core/scalers/latent_optimization.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/utils/test_guidance_script_arguments.py
Due: ty-boltz, ty-protenix

remove the obsolete x_init argument from the test script.
  src/sampleworks/core/scalers/latent_optimization.py
  tests/models/test_latent_optimization.py
Due: ty-boltz

Adding EXT_REPLAY_BASE_IMAGE in Astera Dockerfile
  Dockerfile.astera
Due: none

Adding EXT_REPLAY_BASE_IMAGE in Astera Dockerfile (#348)
  Dockerfile.astera
Due: none

Simplified design documents
  docs/CODEBASE_GUIDE.md
  docs/IT_OPT_DESIGN.md
  docs/IT_OPT_TESTING.md
  src/sampleworks/core/scalers/latent_optimization.py
  src/sampleworks/models/latent_adapter.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz, ty-protenix
