Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, pyright-boltz, pyright-protenix

.pre-commit-config.yaml:

default_language_version:
  python: python3.12
minimum_pre_commit_version: "3.5.0"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.23.1

      - id: pyright-boltz
        name: pyright (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev pyright "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix)

      - id: pyright-protenix
        name: pyright (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev pyright "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.7
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --verbose]
      # Run the formatter.
      - id: ruff-format
        args: [ --verbose]

use constants in guidance script utils get_model_and_device
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

clarifying comments, small refactors in wrapper
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz

pipeline output should always be dict
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz

clarify comment on bfloat16, and remove redundant code in initialize_from_noise
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz

git dependency for now until rf3 in-place ops are fixed
  pyproject.toml
Due: sort_pyproject

add device property for the get_model_and_device function in guidance_script_utils, ignore pyright in deleting cached_representations
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz

improved get_pixi_env syntax
  new_run_grid_search.py
Due: pyright-boltz

modify example scripts in alignment with mdc refactor
  examples/rf3_fk_steering.py
  examples/rf3_pure_guidance.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/guidance_script_arguments.py
Due: pyright-boltz

conftest properly instantiates modelwrapper for RF3
  tests/conftest.py
Due: pyright-boltz

initial rf3 wrapper; needs testing
  .pre-commit-config.yaml
  pyproject.toml
  src/sampleworks/models/rf3/__init__.py
  src/sampleworks/models/rf3/wrapper.py
Due: sort_pyproject, pyright-boltz

grid search scripts can use RF3
  new_run_grid_search.py
  run_grid_search.py
Due: pyright-boltz

use str.title instead of complicated slicing, clarifying comment on trajectory_denoised append
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
Due: pyright-boltz

boltz test was broken, now passes (should rewrite these tests in another PR)
  tests/models/boltz/test_boltz_wrapper.py
Due: pyright-boltz

fixing RF3 wrapper usage now that init has changed
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/imports.py
Due: pyright-boltz

hard code num_steps and num_recycles for now
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz

add ability to pass MSA to RF3 through command line
  examples/rf3_fk_steering.py
  examples/rf3_pure_guidance.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz

gitignore to clean up tracked files
  .gitignore
Due: none

remove device arg to allow fabric to choose device
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz

fixed in-place operations in local install, clone k-chrispens fork of foundry
  pyproject.toml
Due: sort_pyproject

rf3 wrapper tested more
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/imports.py
  tests/conftest.py
  tests/models/test_model_wrapper_protocol.py
Due: pyright-boltz

RF3 added in utils
  src/sampleworks/utils/checkpoint_utils.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

add modelwrappers = None if they fail to import
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

denoise step is saved after alignment
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz

pure_guidance and fk_steering scripts running
  examples/rf3_fk_steering.py
  examples/rf3_pure_guidance.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
Due: pyright-boltz

Adding a very simple global MSA manager that acts as an interface to a cache directory. Manager works, still untested with Boltz generation. Not used yet for RF3, Protenix, AF3
  pyproject.toml
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/utils/mmseqs2.py
  src/sampleworks/utils/msa.py
Due: sort_pyproject, pyright-boltz

[WIP] working MSA caching for Boltz-1/2, saving a3m files for RF3 has a bug where it is saving the CSV not a3m
  README.md
  new_run_grid_search.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/mmseqs2.py
  src/sampleworks/utils/msa.py
Due: pyright-boltz

[WIP] MSA caching now working for RF3 and Boltz1/2, starting to work on Protenix
  src/sampleworks/models/protenix/structure_processing.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/utils/mmseqs2.py
  src/sampleworks/utils/msa.py
Due: pyright-boltz, pyright-protenix

Fixing a circular import that only comes up when running Protenix
  src/sampleworks/utils/__init__.py
  src/sampleworks/utils/torch_utils.py
Due: pyright-boltz

[WIP] working version of MSA caching for Protenix, need to confirm for all predictors
  new_run_grid_search.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
  src/sampleworks/utils/msa.py
Due: pyright-boltz, pyright-protenix

MSA Caching for RF3, BOLTZ1/2, PROTENIX; added test script to run guidance for all four models
  new_run_grid_search.py
  pyproject.toml
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/msa.py
Due: sort_pyproject, pyright-boltz

formatting forward model files
  .pre-commit-config.yaml
  src/sampleworks/core/forward_models/xray/real_space_density.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/ops/dilate_points_cuda.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/spacegroups.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/transformer.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/unitcell.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/volume.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/utils/interpolation.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/utils/quadrature.py
Due: none

readme update to reflect new paths and fixing typos
  README.md
Due: none

fix scripts directory renaming not propogating the the grid search scripts
  new_run_grid_search.py
  run_grid_search.py
Due: pyright-boltz

fix import tests for RF3
  src/sampleworks/utils/__init__.py
  src/sampleworks/utils/imports.py
  src/sampleworks/utils/torch_utils.py
  tests/test_imports.py
Due: pyright-boltz
