Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

sort_pyproject:
  name: sort pyproject.toml
  entry: toml-sort
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  language: python
  additional_dependencies:
  - toml-sort==0.24.3

ty-boltz:
  name: ty (boltz environment)
  entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-rf3:
  name: ty (rf3 environment)
  entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-protenix:
  name: ty (protenix environment)
  entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

feat(rewards): parse reward configuration files (#358)
  src/sampleworks/core/rewards/config.py
  tests/rewards/test_reward_config.py
Due: ty-boltz

ci: validate Dockerfile on PRs via source-check build (#344)
  .github/workflows/docker-validate.yml
Due: none

fix(docker): pin the build's pixi and diagnose empty environments
  Dockerfile
Due: none

fix(docker): move the build off the builder's inherited pixi caches
  Dockerfile
Due: none

fix(docker): force pixi environment materialization
  Dockerfile
Due: none

feat(rewards): support optional reward prepare() hook in PureGuidance
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/eval/structure_utils.py
Due: ty-boltz

feat(rewards): make prepare() part of RewardFunctionProtocol
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  tests/mocks/rewards.py
Due: ty-boltz

chore(actl): exclude sandboxed lunus checkouts from pod syncs
  .actlignore
Due: none

chore(scripts): add lunus[sf] installer for pod environments
  scripts/install_lunus.sh
Due: none

chore(deps): declare lunus[sf] for the diffuse guidance target
  pyproject.toml
Due: sort_pyproject

test(rewards): cover RewardInputs.to_atom_array round-tripping
  tests/rewards/test_reward_inputs.py
Due: ty-boltz

test(rewards): add RewardInputs.to_atom_array in integration testing
  tests/integration/test_mismatch_integration.py
Due: ty-boltz

docs: update diffuse plan for lunus bulk solvent and per-config occupancies
  DIFFUSE_SCATTERING_PLAN.md
Due: none

docs: add plan for asymmetric-unit density from lunus.sf
  ASU_DENSITY_PLAN.md
Due: none

feat(synthetic): add lunus.sf structure-factor generator
  DIFFUSE_SCATTERING_PLAN.md
  src/sampleworks/core/forward_models/xray/lunus_sf.py
  src/sampleworks/synthetic/generate_synthetic_sf_lunus.py
  tests/synthetic/test_generate_synthetic_sf_lunus.py
Due: ty-boltz

feat(synthetic): report the solvent mask occupancy and shell thickness
  src/sampleworks/synthetic/generate_synthetic_sf_lunus.py
Due: ty-boltz

fix(synthetic): honour --output-dir in single-structure mode, and label the shell correctly
  src/sampleworks/synthetic/generate_synthetic_sf_lunus.py
Due: ty-boltz

ci: move Harbor registry refs to repository variables, add .gitleaksignore (#360)
  .github/workflows/docker.yml
  Dockerfile.astera
  README.md
Due: none

fix(docker): force pixi environment materialization and pin pixi (#376)
  Dockerfile
Due: none

feat(rewards): add a combined Bragg and diffuse guidance target
  src/sampleworks/core/rewards/diffuse_bragg.py
  src/sampleworks/synthetic/generate_synthetic_sf_lunus.py
Due: ty-boltz

fix(synthetic): restore the annotations map_altlocs_to_stack strips
  src/sampleworks/synthetic/generate_synthetic_sf_lunus.py
Due: ty-boltz

chore(deps): pin lunus to a rev so re-locking picks up new commits
  pyproject.toml
Due: sort_pyproject

test(rewards): cover recovery, discrimination and gradients for the combined target
  tests/rewards/test_diffuse_bragg_reward.py
Due: ty-boltz

docs: replace the cost estimates with measurements, and mark what is built
  DIFFUSE_SCATTERING_PLAN.md
Due: none

feat(guidance): wire the diffuse target into the sampling pipeline
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

docs: correct the cost figures, and record what the first guided run showed
  DIFFUSE_SCATTERING_PLAN.md
Due: none

docs: de-duplicate the plan and refresh two sections the last commits outdated
  DIFFUSE_SCATTERING_PLAN.md
Due: none

feat(scripts): add a well-posed recovery-test harness for diffuse guidance
  scripts/diffuse_recovery_test.py
Due: ty-boltz

fix(scripts): stop the recovery harness constructing a full GuidanceConfig
  scripts/diffuse_recovery_test.py
Due: ty-boltz

Demo config
  experiments/demo.toml
  scripts/make_demo_manifest.py
  tests/runs/conftest.py
Due: ty-boltz

Updating ext in sampleworks
  Dockerfile.astera
  docker/astera/install-ext.sh
Due: none

Updating ext in sampleworks (#379)
  Dockerfile.astera
  docker/astera/install-ext.sh
Due: none

feat(synthetic): forward calculation of Bragg and diffuse via lunus.sf
  DIFFUSE_SCATTERING_PLAN.md
  scripts/install_lunus.sh
  src/sampleworks/core/forward_models/xray/lunus_sf.py
  src/sampleworks/synthetic/generate_synthetic_sf_lunus.py
  tests/synthetic/test_generate_synthetic_sf_lunus.py
Due: ty-boltz

rf3_smoke
  README.md
  experiments/rf3_smoke.toml
  run_grid_search.py
  tests/runs/conftest.py
  tests/runs/test_runner.py
  tests/test_run_grid_search.py
Due: ty-boltz

chore(deps): declare lunus and relock
  pixi.lock
  pyproject.toml
Due: sort_pyproject

Dynamic PDB CLI
  Dockerfile.astera
  README.md
Due: none

fix(astera): stop SBGrid shadowing system curl in diffuse workspaces
  docker/astera/sbgrid-shell.sh
Due: none

Dynamic PDB CLI (#384)
  Dockerfile.astera
  README.md
Due: none

Fix installer
  Dockerfile.astera
Due: none

Fix installer (#386)
  Dockerfile.astera
Due: none

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ty-boltz: any of: \.py$, but not: (real_space_density|protenix|rf3|rfd3)
  ty-rf3: any of: (rf3|rfd3) and \.py$
  ty-protenix: any of: protenix and \.py$
