Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.24.3

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--verbose, --fix]
      # Run the formatter.
      - id: ruff-format
        args: [--verbose]

  - repo: local
    hooks:
      - id: ty-boltz
        name: ty (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix|rf3|rfd3)
        priority: 50

      - id: ty-rf3
        name: ty (rf3 environment)
        entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: (rf3|rfd3)
        priority: 50

      - id: ty-protenix
        name: ty (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix
        priority: 50

feat(rf3): chiral gradient zeroing and tracking
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/models/test_rf3_chiral_features.py
Due: ty-boltz, ty-rf3

ci(release): use fine-grained PAT for branch protection bypass
  .github/workflows/release.yml
Due: none

chore(tests): fix bug that caused tests to fail in envs without rf3
  tests/models/test_rf3_chiral_features.py
Due: ty-rf3

docs(rf3): address marcus's docstring nits
  src/sampleworks/models/rf3/wrapper.py
Due: ty-rf3

chore(pixi): pixi lockfile update
  pixi.lock
Due: none

docs(rf3): change feature check to inside the _track_chiral_feature check so we can detect upstream changes better
  src/sampleworks/models/rf3/wrapper.py
Due: ty-rf3

fix(rf3): add chiral grad zeroing and tracking to grid search args
  run_grid_search.py
  src/sampleworks/utils/guidance_script_arguments.py
Due: ty-boltz

fix(rf3): didn't invert logic right
  src/sampleworks/models/rf3/wrapper.py
Due: ty-rf3

fix: einx updates broke things, pin to <0.4 for now
  pixi.lock
  pyproject.toml
Due: sort_pyproject

feat:add tortoize (bb and sc dihedral z-score) script
  EVALUATION.md
  scripts/eval/run_and_process_tortoize.py
  scripts/patch_output_cif_files.py
Due: ty-boltz

fix:add documentation of evaluation scripts, resolves https://github.com/diff-use/sampleworks/issues/123
  EVALUATION.md
  scripts/eval/run_and_process_tortoize.py
Due: ty-boltz

docs: add chiral gradient feats options to GRID_SEARCH.md
  GRID_SEARCH.md
Due: none

fix: correct docker image build on release, don't require changes to docker configuration/workflow files
  .github/workflows/docker.yml
Due: none

Fix an incorrect output file name in GRID_SEARCH.md
  GRID_SEARCH.md
Due: none

fix: change job metadata file from CIF to JSON
  GRID_SEARCH.md
Due: none

f/b on https://github.com/diff-use/sampleworks/pull/186
  scripts/eval/EVALUATION.md
  scripts/eval/run_and_process_tortoize.py
Due: ty-boltz

test: add tests that 5I09 with RF3 currently fails
  tests/conftest.py
  tests/integration/test_no_guidance_geometry.py
  tests/models/test_rf3_atom_ordering.py
  tests/resources/5I09/5I09_single_001_density_input.cif
Due: ty-boltz, ty-rf3

fix: RF3 now passes tests on 5I09 + other structures
  pixi.lock
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/rf3/wrapper.py
Due: ty-boltz, ty-rf3

fix(tests): replace malformed 5I09 test CIF that merged ligands into protein chain
  src/sampleworks/core/samplers/edm.py
  tests/integration/test_no_guidance_geometry.py
  tests/models/test_rf3_atom_ordering.py
  tests/resources/5I09/5I09_single_001_density_input.cif
Due: ty-boltz, ty-rf3

ci: add lint, typecheck, and CPU test workflow
  .github/workflows/ci.yml
Due: none

ci: disable setup-pixi GHA cache for self-hosted runners
  .github/workflows/gpu-tests.yml
Due: none

Fix lint, typecheck, and CPU test failures in CI
  pyproject.toml
  scripts/eval/bond_geometry_eval.py
  scripts/eval/run_and_process_tortoize.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/ops/csrc/__init__.py
  src/sampleworks/eval/grid_search_eval_utils.py
Due: sort_pyproject, ty-boltz

Format pre-existing ruff violations
  scripts/eval/bond_geometry_eval.py
  scripts/eval/run_and_process_phenix_clashscore.py
  scripts/eval/run_and_process_tortoize.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/utils/msa.py
  tests/eval/test_structure_utils.py
  tests/utils/test_atom_array_utils.py
Due: ty-boltz

Fix typecheck config and test failures for CPU CI
  pyproject.toml
  tests/models/protenix/test_ccd_expansion.py
  tests/utils/test_guidance_script_arguments.py
Due: sort_pyproject, ty-boltz, ty-protenix

Downgrade ty errors to warnings and fix remaining test issues
  pyproject.toml
  tests/utils/test_guidance_script_arguments.py
Due: sort_pyproject, ty-boltz

Temporarily disable gpu-testing environment gate for NFS cache test
  .github/workflows/gpu-tests.yml
Due: none

Format test_guidance_script_arguments.py
  tests/utils/test_guidance_script_arguments.py
Due: ty-boltz

Re-enable gpu-testing environment approval gate
  .github/workflows/gpu-tests.yml
Due: none

Address CodeRabbit review: fix patch scope and narrow exception match
  tests/utils/test_guidance_script_arguments.py
Due: ty-boltz

refactor(eval): unify rscc script structure loading with generate_synthetic_density.py
  pixi.lock
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/utils/atom_array_utils.py
Due: ty-boltz

Update pixi.lock after rebase onto main
  pixi.lock
Due: none

Add unknown-argument to ty warn list
  pixi.lock
  pyproject.toml
Due: sort_pyproject

Align mock error message with real _resolve_checkpoint contract
  tests/utils/test_guidance_script_arguments.py
Due: ty-boltz

fix:human cleanup of previous commit; resolving 6NI5/6 bug with HETATM and ATOM mixed in an altloc, resolves https://github.com/diff-use/sampleworks/issues/194
  src/sampleworks/utils/cif_utils.py
  tests/utils/test_cif_utils.py
Due: ty-boltz

fix: pre-process CIF files to remove mixed ATOM/HETATM altlocs at the same residue position
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/utils/test_cif_utils.py
Due: ty-boltz

removed duplicated redundant code.
  src/sampleworks/utils/cif_utils.py
Due: ty-boltz

fix: final cleanup to preprocess CIF files for mixed HETATM/ATOM altlocs; resolves https://github.com/diff-use/sampleworks/issues/194
  scripts/eval/run_and_process_tortoize.py
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

ci: Disable gpu-testing environment approval for testing
  .github/workflows/gpu-tests.yml
Due: none

fix(ci): switch gpu-tests to pull_request_target to prevent approval bypass
  .github/workflows/gpu-tests.yml
Due: none

Revert out-of-scope changes to match ticket requirements
  .github/workflows/gpu-tests.yml
Due: none
