Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.24.3

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--verbose, --fix]
      # Run the formatter.
      - id: ruff-format
        args: [--verbose]

  - repo: local
    hooks:
      - id: ty-boltz
        name: ty (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix|rf3|rfd3)
        priority: 50

      - id: ty-rf3
        name: ty (rf3 environment)
        entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: (rf3|rfd3)
        priority: 50

      - id: ty-protenix
        name: ty (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix
        priority: 50

Write out job metadata to a file in the same directory as refined.cif
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

Make sure output directory exists
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

run_all_models: run all four models (boltz1, boltz2, protenix, rf3) not just boltz
  run_all_models.sh
Due: none

feat(io): support both absolute and relative paths in input csv via a ProteinInput data class
  run_grid_search.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/protein_input.py
Due: ty-boltz

fix(io): patch arg hanlding for Path type in qfit.volume.
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/volume.py
Due: none

fix(eval): update eval_dataclasses.py to use the new occupancy_to_str
  src/sampleworks/eval/eval_dataclasses.py
Due: ty-boltz

fix(rscc_notebook): update the rscc notebook to use all the utils we have
  src/sampleworks/eval/rscc_grid_search_analysis.py
Due: ty-boltz

fix(cr): address coderabbit and @marcuscollins fb
  scripts/eval/lddt_evaluation_script.py
  src/sampleworks/eval/occupancy_utils.py
  src/sampleworks/eval/structure_utils.py
Due: ty-boltz

chore(occupancy_utils): generalize occupancy_to_str
  src/sampleworks/eval/occupancy_utils.py
Due: ty-boltz

chore: remove old analysis marimo notebook
  src/sampleworks/eval/rscc_grid_search_analysis.py
Due: ty-boltz

feat(altlocs): update all usage of only two altlocs to handle a dict of altlocs and associated occupancies
  scripts/eval/lddt_evaluation_script.py
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/eval/occupancy_utils.py
  src/sampleworks/eval/structure_utils.py
  tests/eval/test_structure_utils.py
Due: ty-boltz

fix(cr): addressing cr fb
  src/sampleworks/models/protenix/structure_processing.py
Due: ty-protenix

fix(bug): Protenix would error on 5 letter CCD codes in 9BN8 that were truncated in .pdb files
  src/sampleworks/models/protenix/structure_processing.py
  src/sampleworks/models/protenix/wrapper.py
  tests/models/protenix/__init__.py
  tests/models/protenix/test_ccd_expansion.py
Due: ty-protenix

fix(cr): more bot feedback
  src/sampleworks/models/protenix/wrapper.py
Due: ty-protenix

fix(cr): addressing coderabbit fb
  src/sampleworks/models/protenix/wrapper.py
Due: ty-protenix

chore(docs): standardize numpy style and spell check
  src/sampleworks/core/forward_models/xray/real_space_density.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/utils/interpolation.py
  src/sampleworks/core/samplers/protocol.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/eval/metrics.py
  src/sampleworks/eval/occupancy_utils.py
  src/sampleworks/eval/rscc_grid_search_analysis.py
  src/sampleworks/metrics/lddt.py
  src/sampleworks/metrics/metric.py
  src/sampleworks/metrics/metric_utils.py
  src/sampleworks/metrics/sidechain_metrics.py
  src/sampleworks/models/protocol.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/msa.py
  src/sampleworks/utils/torch_utils.py
Due: ty-boltz

fix(cr): last bit of coderabbit fb
  tests/models/protenix/test_ccd_expansion.py
Due: ty-protenix

fix(reward): remove usage of reward_param_mask, we enforce that the reward must be computable on the whole model output.
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/integration/test_mismatch_integration.py
  tests/integration/test_pipeline_integration.py
  tests/utils/test_density_utils.py
Due: ty-boltz

fix(ty): removing remaining pyright ignores
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/utils/atom_array_utils.py
Due: ty-boltz

fix(rf3): fixed bug where nan atoms were still appearing in the model_atom_array, causing indexing errors downstream
  src/sampleworks/models/rf3/wrapper.py
Due: ty-rf3

feat: Docker support rebased onto latest main
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
  docker-entrypoint.sh
  run_all_models.sh
  run_grid_search.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/ops/__init__.py
Due: ty-boltz

Bake RF3 and Protenix checkpoints into Docker image
  .gitignore
  Dockerfile
  docker-entrypoint.sh
  run_grid_search.py
  src/sampleworks/utils/guidance_script_arguments.py
  tests/conftest.py
Due: ty-boltz

chore(cr): remove redundant test code and address final cr nits
  src/sampleworks/models/rf3/wrapper.py
  tests/integration/test_mismatch_integration.py
  tests/integration/test_pipeline_integration.py
Due: ty-boltz, ty-rf3

fix: use checkpoints base image from Docker Hub for CI builds
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
  run_all_models.sh
Due: none

chore(cleanup): remove checkpoint_utils.py
  src/sampleworks/utils/checkpoint_utils.py
Due: ty-boltz

feat(args): standardized model_checkpoint arg
  run_grid_search.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

fix(tests): include (basic) tests for the new checkpoint validation
  tests/utils/test_guidance_script_arguments.py
Due: ty-boltz
