Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.24.3

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--verbose, --fix]
      # Run the formatter.
      - id: ruff-format
        args: [--verbose]

  - repo: local
    hooks:
      - id: ty-boltz
        name: ty (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix|rf3|rfd3)
        priority: 50

      - id: ty-rf3
        name: ty (rf3 environment)
        entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: (rf3|rfd3)
        priority: 50

      - id: ty-protenix
        name: ty (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix
        priority: 50

feat(eval): RSCC grid search and density util improvements
  CLAUDE.md
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/utils/density_utils.py
  tests/eval/conftest.py
  tests/eval/test_rscc_grid_search_script.py
  tests/utils/test_density_utils.py
Due: ty-boltz

feat(guidance): add --alignment-reverse-diffusion arg
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

fix(eval): align synthetic density occupancy handling
  src/sampleworks/eval/generate_synthetic_density.py
  tests/eval/test_generate_synthetic_density.py
Due: ty-boltz

fix(types): resolve typecheck warnings
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/sf.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/transformer.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/unitcell.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/metrics/lddt.py
  src/sampleworks/metrics/rmsd.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/framework_utils.py
  src/sampleworks/utils/msa.py
  tests/conftest.py
  tests/utils/test_atom_array_utils.py
  tests/utils/test_framework_utils.py
  tests/utils/test_msa.py
Due: ty-boltz, ty-rf3

fix(protpardelle): pipe sampling options through CLI
  src/sampleworks/cli/guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/cli/test_guidance_cli.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

fix(actl): sync packaged data files
  .actlignore
Due: none

fix(types): avoid environment-specific diagnostics
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/metrics/lddt.py
  src/sampleworks/metrics/rmsd.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/framework_utils.py
  tests/conftest.py
  tests/utils/test_atom_array_utils.py
  tests/utils/test_framework_utils.py
Due: ty-boltz, ty-rf3

fix(eval): lazy-load synthetic density batch deps
  src/sampleworks/eval/generate_synthetic_density.py
Due: ty-boltz

Review fixes
  Dockerfile.astera
  docker/astera/install-ext.sh
Due: none

Review fixes
  docker/astera/sampleworks-ext-shell.sh
Due: none

fix: address claude reviews
  AGENTS.md
  scripts/eval/classify_altloc_regions.py
  scripts/eval/find_max_rmsd_subsegment.py
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/density_utils.py
  tests/eval/conftest.py
  tests/eval/test_rscc_grid_search_script.py
  tests/resources/1vme/1VME_single_001_density_input.cif
  tests/utils/test_density_utils.py
Due: ty-boltz

feat: parallelize rscc
  pixi.lock
  pyproject.toml
  scripts/eval/rscc_grid_search_script.py
  tests/eval/conftest.py
  tests/eval/test_find_altloc_selections_script.py
  tests/eval/test_rscc_grid_search_script.py
Due: sort_pyproject, ty-boltz

Enable ext only with param
  docker/astera/install-ext-shell-hooks.sh
  docker/astera/sampleworks-ext-shell.sh
Due: none

Ext as default shell (#265)
  .github/workflows/docker.yml
  .gitignore
  Dockerfile.astera
  README.md
  docker/astera/ext-config.toml
  docker/astera/install-ext-shell-hooks.sh
  docker/astera/install-ext.sh
  docker/astera/sampleworks-ext-shell.sh
Due: none

feat(guidance): add --alignment-reverse-diffusion arg (#264)
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/cli/test_guidance_cli.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

0.11.0
  pyproject.toml
Due: sort_pyproject

fix(eval): align synthetic density occupancy handling (#268)
  src/sampleworks/eval/generate_synthetic_density.py
  tests/eval/test_generate_synthetic_density.py
Due: ty-boltz

0.11.1
  pyproject.toml
Due: sort_pyproject

chore(packaging): consolidate uv project metadata
  README.md
  pyproject-hatch.toml
  pyproject.toml
Due: sort_pyproject

fix(packaging): avoid pixi feature extras collision
  README.md
  pyproject.toml
Due: sort_pyproject

separate diffuse runner used to build containers
  .github/workflows/docker.yml
Due: none

fix(cif): write atom_type/chem_comp/entity parents so refined.cif passes mmcif-validator (#68)
  src/sampleworks/utils/atom_reconciler.py
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/utils/test_atom_reconciler.py
  tests/utils/test_cif_utils.py
Due: ty-boltz

fix(cif): write predicted coords onto the input structure's numbering (#68, R2b)
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

Separate diffuse runner used to build containers (#273)
  .github/workflows/docker.yml
Due: none

Updating tests in test_runner.py to allow them to run on only one GPU
  tests/runs/test_runner.py
Due: ty-boltz

feat(models): add Protpardelle-1c StructureModelWrapper
  src/sampleworks/models/protpardelle/__init__.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/imports.py
  tests/models/protpardelle/__init__.py
  tests/models/protpardelle/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

[WIP] fixing Claude's implementation of a Protenix wrapper, so it doesn't just give us unguided samples
  pixi.lock
  pyproject.toml
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/data/cc89_epoch415.yaml
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/models/protpardelle/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: sort_pyproject, ty-boltz

Starting to debug Protpardelle on actl
  src/sampleworks/cli/guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

get default model config from protpardelle module rather than keeping our own copy.
  src/sampleworks/models/protpardelle/wrapper.py
Due: ty-boltz

fix(protpardelle): complete denoising step wiring (#267)
  .actlignore
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

Modify EDMSamplerConfig options for Protpardelle-1c
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

Skopeo image updated
  .github/workflows/docker.yml
Due: none

Skopeo image updated (#275)
  .github/workflows/docker.yml
Due: none

chore(packaging): consolidate uv project metadata (#271)
  README.md
  pyproject-hatch.toml
  pyproject.toml
Due: sort_pyproject

feat: RSCC eval updates (#224)
  AGENTS.md
  CLAUDE.md
  pixi.lock
  pyproject.toml
  scripts/eval/classify_altloc_regions.py
  scripts/eval/find_max_rmsd_subsegment.py
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/density_utils.py
  tests/eval/conftest.py
  tests/eval/test_find_altloc_selections_script.py
  tests/eval/test_rscc_grid_search_script.py
  tests/resources/1vme/1VME_single_001_density_input.cif
  tests/utils/test_density_utils.py
Due: sort_pyproject, ty-boltz

0.12.0
  pyproject.toml
Due: sort_pyproject

fix(cif): complete _cell and _struct_conn carried from the input array (#68, R2b)
  src/sampleworks/utils/cif_utils.py
  tests/utils/test_cif_utils.py
Due: ty-boltz

Pass checkpoint image properly
  .github/workflows/docker.yml
Due: none

Pass checkpoint image properly (#277)
  .github/workflows/docker.yml
Due: none

Fix docker build
  Dockerfile
Due: none
