Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

sort_pyproject:
  name: sort pyproject.toml
  entry: toml-sort
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  language: python
  additional_dependencies:
  - toml-sort==0.24.3

ty-boltz:
  name: ty (boltz environment)
  entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-rf3:
  name: ty (rf3 environment)
  entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-protenix:
  name: ty (protenix environment)
  entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

Fix docker build (#278)
  Dockerfile
Due: none

Fix docker build v2
  .dockerignore
  Dockerfile
Due: none

Fix docker build v2 (#279)
  .dockerignore
  Dockerfile
Due: none

ci(docker): avoid secret-masked image outputs
  .github/workflows/docker.yml
  README.md
Due: none

feat(cif): persist sampleworks metadata in refined.cif and read it back in eval
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/eval/test_grid_search_eval_utils.py
  tests/utils/test_cif_utils.py
Due: ty-boltz

feat(cif): carry real entity categories from RCSB onto refined.cif
  .gitignore
  scripts/verify_entity_carry_tortoize.py
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/utils/test_cif_utils.py
Due: ty-boltz

Fix docker build
  .github/workflows/docker.yml
Due: none

feat(cif): cross-deposit carry/reconcile check + restore per-model tortoize eval (#68)
  scripts/eval/run_and_process_tortoize.py
  scripts/verify_entity_carry_tortoize.py
  tests/eval/test_run_and_process_tortoize.py
  tests/utils/test_cif_utils.py
Due: ty-boltz

feat(cif): multi-chain repair, stubs
  scripts/verify_entity_carry_tortoize.py
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/eval/test_run_and_process_tortoize.py
  tests/utils/test_cif_utils.py
Due: ty-boltz

Fix pixi build
  .github/workflows/ci.yml
Due: none

Sampleworks container build fully fixed (#281)
  .github/workflows/ci.yml
  .github/workflows/docker.yml
Due: none

Bump Ext version
  Dockerfile.astera
  docker/astera/install-ext.sh
Due: none

Bump Ext version (#282)
  Dockerfile.astera
  docker/astera/install-ext.sh
Due: none

fix(protpardelle): pipe sampling options through guidance CLI (#270)
  src/sampleworks/cli/guidance.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/cli/test_guidance_cli.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

Resolving coderabbitai f/b on PR #274
  pyproject.toml
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
Due: sort_pyproject, ty-boltz

Updating pixi.lock
  pixi.lock
Due: none

updating pixi.lock after merging main
  pixi.lock
Due: none

fix(samplers): reconcile FlowModelWrapper.step call with Protocol
  src/sampleworks/cli/guidance.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  tests/runs/test_runner.py
Due: ty-boltz

fix(samplers): reconcile FlowModelWrapper.step call with Protocol (#288)
  src/sampleworks/cli/guidance.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  tests/runs/test_runner.py
Due: ty-boltz

feat: support extended (12-char) PDB IDs in output CIF patching
  analyses/all.toml
  analyses/analyze_grid_search.toml
  analyses/external_tools.toml
  scripts/eval/EVALUATION.md
  scripts/patch_output_cif_files.py
  tests/eval/test_patch_output_cif_files.py
  tests/runs/test_runner.py
Due: ty-boltz

Addressing f/b from @kchrispens and fixing lint issues
  src/sampleworks/cli/guidance.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
  tests/runs/test_runner.py
Due: ty-boltz

Adding CODEOWNERS to control who can approve PRs for different parts of the repo
  CODEOWNERS
Due: none

feat(cif): multi-chain carve standardization attempt
  src/sampleworks/utils/input_prep.py
  tests/resources/2YL0/2YL0_rcsb.cif
  tests/resources/9BN8/9BN8_rcsb.cif
  tests/resources/input_registry.json
  tests/utils/test_input_prep.py
Due: ty-boltz

feat(cif): wire reproducible input carve into a prep step (#68)
  scripts/prepare_inputs.py
  src/sampleworks/data/input_registry.json
  src/sampleworks/utils/input_prep.py
  tests/utils/test_input_prep.py
Due: ty-boltz

test(protenix): skip checkpoint fixture when weights absent instead of downloading
  tests/conftest.py
Due: ty-boltz

refactor(msa): remove unused Protenix a3m writes in _compute_msa
  src/sampleworks/utils/msa.py
Due: ty-boltz

docs(models): standardize model_atom_array docstring across wrappers
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
Due: ty-boltz, ty-rf3, ty-protenix

fix(imports,tests): support bare require_* decorators; clean up protpardelle temp dirs
  src/sampleworks/utils/imports.py
  tests/models/protpardelle/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

ci(codecov): collect and upload coverage from cpu-tests
  .github/workflows/ci.yml
  codecov.yml
  pyproject.toml
Due: sort_pyproject

refactor(fk_steering): extract per-particle guided step into a helper
  src/sampleworks/core/scalers/fk_steering.py
Due: ty-boltz

Adding CODEOWNERS (#293)
  CODEOWNERS
Due: none

test(msa): guard Protenix MSA cache path (regression cover for #179)
  tests/utils/test_msa.py
Due: ty-boltz

fix(imports,tests): support bare require_* decorators; clean up protpardelle temp dirs (#297)
  src/sampleworks/utils/imports.py
  tests/models/protpardelle/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

ci(codecov): collect and upload coverage from cpu-tests (#298)
  .github/workflows/ci.yml
  codecov.yml
  pyproject.toml
Due: sort_pyproject

refactor(msa): remove unused Protenix a3m writes in _compute_msa (#295)
  src/sampleworks/utils/msa.py
  tests/utils/test_msa.py
Due: ty-boltz

test(protenix): skip checkpoint fixture when weights absent instead of downloading (#294)
  tests/conftest.py
Due: ty-boltz

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ty-boltz: any of: \.py$, but not: (real_space_density|protenix|rf3|rfd3)
  ty-rf3: any of: (rf3|rfd3) and \.py$
  ty-protenix: any of: protenix and \.py$
