Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.24.3

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--verbose, --fix]
      # Run the formatter.
      - id: ruff-format
        args: [--verbose]

  - repo: local
    hooks:
      - id: ty-boltz
        name: ty (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix|rf3|rfd3)
        priority: 50

      - id: ty-rf3
        name: ty (rf3 environment)
        entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: (rf3|rfd3)
        priority: 50

      - id: ty-protenix
        name: ty (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix
        priority: 50

Test org ruleset (will close)
  .ruleset-test
Due: none

feat(analysis): ship tortoize in the analysis pixi environments
  pixi.lock
  pyproject.toml
  scripts/eval/EVALUATION.md
Due: sort_pyproject

retrigger after visibility fix
  .ruleset-test
Due: none

adding protpardelle default settings
  experiments/protpardelle.toml
Due: none

fix(grid-search): run protpardelle jobs in their pixi env (#345)
  run_grid_search.py
  tests/test_run_grid_search.py
Due: ty-boltz

Update tests and runs code to use new protpardelle preset
  src/sampleworks/runs/schema.py
  tests/runs/conftest.py
  tests/runs/test_cli.py
  tests/runs/test_loader.py
Due: ty-boltz

Add options to run_grid_search.py to run protpardelle.
  pixi.lock
  run_grid_search.py
Due: ty-boltz

chore: restore pixi.lock from main (unchanged manifest)
  pixi.lock
Due: none

(chore) formatting and comments to differentiate some helper methods that identify valid pixi environments
  tests/runs/test_loader.py
  tests/test_run_grid_search.py
Due: ty-boltz

feat(analysis): ship tortoize in the analysis pixi environments (#350)
  pixi.lock
  pyproject.toml
  scripts/eval/EVALUATION.md
Due: sort_pyproject

feat(evals): add RMSD evaluation script (#337)
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rmsd_evaluation_script.py
  src/sampleworks/eval/grid_search_eval_utils.py
  tests/eval/test_rmsd_evaluation_script.py
Due: ty-boltz

Change in md to remove paper related conclusions.
  docs/IT_OPT_DESIGN.md
  docs/IT_OPT_TESTING.md
Due: none

Change the optimization to N forward method so each optimization starts from a brand new start and the loss function is penalized by the average of the ensemble.
  src/sampleworks/core/scalers/latent_optimization.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/eval/test_generate_synthetic_sf.py
  tests/rewards/test_geometry.py
Due: ty-boltz

chore(tests): drop stale pre-#329 copy of the synthetic-sf test
  tests/eval/test_generate_synthetic_sf.py
Due: ty-boltz

feat(rewards): add reciprocal-space structure-factor reward function
  src/sampleworks/core/rewards/structure_factor.py
  tests/resources/1vme/1vme_final_crystalframe_0.5occA_0.5occB_1.80A.cif
  tests/resources/1vme/1vme_final_crystalframe_0.5occA_0.5occB_1.80A.mtz
  tests/rewards/conftest.py
  tests/rewards/test_reward_function_contract.py
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

fix(rewards): reject reserved keys in StructureFactorRewardFunction sfcalculator_kwargs
  src/sampleworks/core/rewards/structure_factor.py
Due: ty-boltz

feat(rewards): validate retained reflection count in structure-factor reward
  src/sampleworks/core/rewards/structure_factor.py
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

docs(rewards): complete NumPy-style param docs for StructureFactorRewardFunction
  src/sampleworks/core/rewards/structure_factor.py
Due: ty-boltz

refactor(rewards): change SF reward device handling and mtz fixtures
  src/sampleworks/core/rewards/structure_factor.py
  tests/resources/1vme/1vme_final_crystalframe_0.5occA_0.5occB_1.80A.cif
  tests/resources/1vme/1vme_final_crystalframe_0.5occA_0.5occB_1.80A.mtz
  tests/rewards/conftest.py
  tests/rewards/test_reward_function_contract.py
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

fix(runs): resolve the pixi manifest the runner will actually use
  run_grid_search.py
  src/sampleworks/runs/schema.py
  tests/runs/conftest.py
  tests/runs/test_cli.py
  tests/runs/test_loader.py
  tests/runs/test_schema.py
Due: ty-boltz

fix(runs): resolve the pixi manifest the runner will actually use (#357)
  run_grid_search.py
  src/sampleworks/runs/schema.py
  tests/runs/conftest.py
  tests/runs/test_cli.py
  tests/runs/test_loader.py
  tests/runs/test_schema.py
Due: ty-boltz

(feat)add protpardelle experiment preset (#352)
  experiments/protpardelle.toml
  run_grid_search.py
  src/sampleworks/runs/schema.py
  tests/runs/conftest.py
  tests/runs/test_cli.py
  tests/runs/test_loader.py
  tests/runs/test_schema.py
  tests/test_run_grid_search.py
Due: ty-boltz

refactor(rewards): take SF crystal metadata solely from the MTZ
  src/sampleworks/core/rewards/structure_factor.py
Due: ty-boltz

test(rewards): consolidate structure-factor reward fixtures
  src/sampleworks/core/rewards/structure_factor.py
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

docs(rewards): name the SF batch dimension batch_size, not E
  src/sampleworks/core/rewards/structure_factor.py
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

feat(rewards): validate input atom counts against the SF topology
  src/sampleworks/core/rewards/structure_factor.py
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

First batch of fix for the review.
  docs/CODEBASE_GUIDE.md
  src/sampleworks/core/rewards/geometry.py
  src/sampleworks/core/scalers/latent_optimization.py
  src/sampleworks/models/latent_adapter.py
  src/sampleworks/utils/guidance_constants.py
  tests/models/test_latent_adapter.py
Due: ty-boltz

test(rewards): verify SF bulk-solvent branches carry coordinate gradients
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

test(rewards): cover the SF atom-count guard and magnitude-only divergence
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

feat(rewards): add differentiable structure-factor reward (#324)
  src/sampleworks/core/rewards/structure_factor.py
  tests/rewards/conftest.py
  tests/rewards/test_reward_function_contract.py
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

fix(synthetic): drop setup_entities() from atomarray_to_gemmi so written cifs round-trip chain_info
  src/sampleworks/synthetic/synthetic_utils.py
  tests/synthetic/test_generate_synthetic_sf.py
Due: ty-boltz

ci: move Harbor registry refs to repository variables, add .gitleaksignore
  .github/workflows/docker.yml
  .gitleaksignore
Due: none

chore(it-opt): track the ensemble runner and scoring scripts
  it_opt_scratch/paper_maxrmsd_selections.csv
  it_opt_scratch/run_targets.py
  it_opt_scratch/run_targets_simplified.py
  it_opt_scratch/score_paper_rmsd.py
  it_opt_scratch/score_paper_rscc.py
  it_opt_scratch/score_paper_simplified.py
  it_opt_scratch/score_rmsd_simplified.py
  it_opt_scratch/score_rscc_simplified.py
  it_opt_scratch/slurm_ensemble_and_score.sh
Due: ty-boltz

feat(grid-search): run latent_opt (IT-opt) with 2 jobs per GPU
  experiments/it_opt_1gpu.toml
  experiments/it_opt_4gpu.toml
  run_grid_search.py
  src/sampleworks/utils/guidance_script_arguments.py
Due: ty-boltz

feat(rewards): support optional reward prepare() hook in PureGuidance
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/eval/structure_utils.py
Due: ty-boltz

ci: drop .gitleaksignore, genericize pending
  .gitleaksignore
  README.md
Due: none

docs: use the actl sampleworks image alias, drop internal registry refs
  Dockerfile.astera
  README.md
Due: none

fix(it-opt): handle chain-relabel & CYS/CSO references in paper RSCC/RMSD scorers
  it_opt_scratch/score_paper_rmsd.py
  it_opt_scratch/score_paper_rscc.py
Due: ty-boltz
