Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, pyright-boltz, pyright-rf3, pyright-protenix

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.24.3

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--verbose]
      # Run the formatter.
      - id: ruff-format
        args: [--verbose]

  - repo: local
    hooks:
      - id: pyright-boltz
        name: pyright (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev pyright "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix|rf3|rfd3)
        priority: 50

      - id: pyright-rf3
        name: pyright (rf3 environment)
        entry: bash -c 'pixi run -e rf3-dev pyright "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: (rf3|rfd3)
        priority: 50

      - id: pyright-protenix
        name: pyright (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev pyright "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix
        priority: 50

fix(ty): lots of the ignore comments weren't needed for ty. Things are a bit cleaner now, I think!
  .pre-commit-config.yaml
  run_grid_search.py
  scripts/patch_input_cif_files.py
  scripts/run_and_process_phenix_clashscore.py
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/protocol.py
  src/sampleworks/eval/bond_angle_and_length_outlier_eval_script.py
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/lddt_evaluation_script.py
  src/sampleworks/eval/rscc_grid_search_analysis.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/metrics/lddt.py
  src/sampleworks/metrics/sidechain_metrics.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/structure_processing.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/frame_transforms.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
  src/sampleworks/utils/mmseqs2.py
  src/sampleworks/utils/msa.py
  src/sampleworks/utils/torch_utils.py
  tests/eval/test_structure_utils.py
  tests/metrics/test_lddt_metrics.py
  tests/utils/test_density_utils.py
  tests/utils/test_framework_utils.py
Due: pyright-boltz, pyright-protenix

fix(asserts): removed asserts from mmseqs2.py, use more precise auth validation instead
  src/sampleworks/utils/mmseqs2.py
Due: pyright-boltz

fix(ty): migrate remaining pyright suppressions to ty
  pixi.lock
  pyproject.toml
  run_grid_search.py
  scripts/patch_input_cif_files.py
  scripts/run_and_process_phenix_clashscore.py
  src/sampleworks/core/forward_models/xray/real_space_density.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/ops/dilate_points_cuda.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/mtzfile.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/sf.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/spacegroups.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/transformer.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/unitcell.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/volume.py
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/eval/bond_angle_and_length_outlier_eval_script.py
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/lddt_evaluation_script.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/metrics/lddt.py
  src/sampleworks/metrics/sidechain_metrics.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/structure_processing.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/density_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
  src/sampleworks/utils/mmseqs2.py
  src/sampleworks/utils/msa.py
  tests/conftest.py
  tests/eval/test_structure_utils.py
  tests/rewards/test_real_space_density_reward.py
  tests/utils/test_atom_array_utils.py
  tests/utils/test_density_utils.py
  tests/utils/test_framework_utils.py
Due: sort_pyproject, pyright-boltz, pyright-protenix

CodeRabbit f/b on PR 104
  scripts/patch_input_cif_files.py
Due: pyright-boltz

Updates to map sequence ids back to original, include B-factors and occupancies, write to a different file name (refined-patched.cif)
  scripts/patch_input_cif_files.py
Due: pyright-boltz

Moving evaluation scripts to their own dir; adding a script to find selections to use; adding phenix clashscore script; renaming bond geometry script.
  scripts/eval/bond_geometry_eval.py
  scripts/eval/find_altloc_selections.py
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
  scripts/eval/run_and_process_phenix_clashscore.py
Due: pyright-boltz

Addressing CodeRabbit f/b on PR 106
  scripts/eval/find_altloc_selections.py
  scripts/eval/run_and_process_phenix_clashscore.py
  src/sampleworks/utils/cif_utils.py
Due: pyright-boltz

Addressing more CodeRabbit f/b on PR 106
  scripts/eval/find_altloc_selections.py
  src/sampleworks/utils/cif_utils.py
Due: pyright-boltz

Addressing k-chrispens' feedback on PR 106
  scripts/eval/find_altloc_selections.py
  scripts/eval/run_and_process_phenix_clashscore.py
  src/sampleworks/utils/cif_utils.py
Due: pyright-boltz

Adding/using a new XMap method to extract density map values from the union of bounding boxes around individual atoms, useful for altloc selections that are spread out over a protein
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/volume.py
Due: pyright-boltz

CodeRabbit f/b on PR 107
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/utils/cif_utils.py
Due: pyright-boltz

fix(ty): add tool section for ty
  pixi.lock
  pyproject.toml
Due: sort_pyproject

feat(typechecking): migrate from pyright to ty
  .pre-commit-config.yaml
  pixi.lock
  pyproject.toml
Due: sort_pyproject

fix(ty): migrate remaining pyright suppressions to ty
  pixi.lock
  pyproject.toml
  run_grid_search.py
  scripts/eval/bond_geometry_eval.py
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/run_and_process_phenix_clashscore.py
  scripts/patch_input_cif_files.py
  src/sampleworks/core/forward_models/xray/real_space_density.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/ops/dilate_points_cuda.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/mtzfile.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/sf.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/spacegroups.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/transformer.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/unitcell.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/volume.py
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/metrics/lddt.py
  src/sampleworks/metrics/sidechain_metrics.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/structure_processing.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/density_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
  src/sampleworks/utils/mmseqs2.py
  src/sampleworks/utils/msa.py
  tests/conftest.py
  tests/eval/test_structure_utils.py
  tests/rewards/test_real_space_density_reward.py
  tests/utils/test_atom_array_utils.py
  tests/utils/test_density_utils.py
  tests/utils/test_framework_utils.py
Due: sort_pyproject, pyright-boltz, pyright-protenix

fix(ty): lots of the ignore comments weren't needed for ty. Things are a bit cleaner now, I think!
  .pre-commit-config.yaml
  run_grid_search.py
  scripts/eval/bond_geometry_eval.py
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/run_and_process_phenix_clashscore.py
  scripts/patch_input_cif_files.py
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/protocol.py
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/rscc_grid_search_analysis.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/metrics/lddt.py
  src/sampleworks/metrics/sidechain_metrics.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/structure_processing.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/frame_transforms.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
  src/sampleworks/utils/mmseqs2.py
  src/sampleworks/utils/msa.py
  src/sampleworks/utils/torch_utils.py
  tests/eval/test_structure_utils.py
  tests/metrics/test_lddt_metrics.py
  tests/utils/test_density_utils.py
  tests/utils/test_framework_utils.py
Due: pyright-boltz, pyright-protenix

Moving evaluation scripts to their own dir; adding a script to find selections to use; adding phenix clashscore script; renaming bond geometry script.
  scripts/eval/run_and_process_phenix_clashscore.py
Due: pyright-boltz

CodeRabbit f/b on PR 107
  src/sampleworks/utils/cif_utils.py
Due: pyright-boltz

Changes to make multiple selections per protein easy. New script to find useful selections for analysis based on altlocs.
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
  scripts/eval/run_and_process_phenix_clashscore.py
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/utils/atom_array_utils.py
Due: pyright-boltz

Adding back bond geometry script; making it possible to compute density over AtomArrayStacks
  scripts/eval/bond_geometry_eval.py
Due: pyright-boltz

Debugging tests, formatting, pyright and ruff
  scripts/eval/lddt_evaluation_script.py
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/utils/atom_array_utils.py
Due: pyright-boltz

Updating to allow atomsworks/pandas style selections in eval scripts; bug fix so all selections are reported on in RSCC script
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/eval/structure_utils.py
Due: pyright-boltz

Residual CodeRabbit f/b from PR 106
  scripts/eval/bond_geometry_eval.py
  scripts/eval/run_and_process_phenix_clashscore.py
  src/sampleworks/utils/cif_utils.py
Due: pyright-boltz

fix(refactor): addressing remainder of Marcus's feedback
  src/sampleworks/eval/generate_synthetic_density.py
  tests/utils/test_atom_array_utils.py
Due: pyright-boltz

add ligand, water stripping and save the selected atoms as CIF
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/utils/atom_array_utils.py
Due: pyright-boltz
