Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.24.3

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--verbose, --fix]
      # Run the formatter.
      - id: ruff-format
        args: [--verbose]

  - repo: local
    hooks:
      - id: ty-boltz
        name: ty (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix|rf3|rfd3)
        priority: 50

      - id: ty-rf3
        name: ty (rf3 environment)
        entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: (rf3|rfd3)
        priority: 50

      - id: ty-protenix
        name: ty (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix
        priority: 50

Addressing PR 209 automated feedback
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/utils/test_cif_utils.py
Due: ty-boltz

Better handling of None in CIF data we insert to CIFFile objects
  src/sampleworks/utils/cif_utils.py
Due: ty-boltz

Fix lint issue
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

feat(ciffiles): store metadata about ensemble generation directly in output CIF files. (#209)
  scripts/patch_output_cif_files.py
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/integration/test_mismatch_integration.py
  tests/utils/test_cif_utils.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

0.5.0
  pixi.lock
  pyproject.toml
Due: sort_pyproject

Add occupancy validation with proper error handling
  scripts/patch_output_cif_files.py
Due: ty-boltz

Fix review comments: CLI args, error handling, validation, mapping
  scripts/patch_output_cif_files.py
Due: ty-boltz

feat: Add unified CLI for run_guidance and fix missing args bug (#207)
  AGENTS.md
  README.md
  pixi.lock
  pyproject.toml
  scripts/boltz1_fk_steering.py
  scripts/boltz1_pure_guidance.py
  scripts/boltz2_fk_steering.py
  scripts/boltz2_pure_guidance.py
  scripts/protenix_fk_steering.py
  scripts/protenix_pure_guidance.py
  scripts/rf3_fk_steering.py
  scripts/rf3_pure_guidance.py
  src/sampleworks/cli/__init__.py
  src/sampleworks/cli/guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  tests/cli/__init__.py
  tests/cli/test_guidance_cli.py
Due: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

0.6.0
  pixi.lock
  pyproject.toml
Due: sort_pyproject

fix: replace deprecated builtin repo in pre-commit config
  .pre-commit-config.yaml
Due: none

fix: remap container paths to host paths in job_metadata.json (#210)
  docker-entrypoint.sh
  run_all_models.sh
  src/sampleworks/utils/guidance_script_arguments.py
  tests/utils/test_guidance_script_arguments.py
Due: ty-boltz

fix: remap container paths to host paths in job_metadata.json (#218)
  docker-entrypoint.sh
  run_all_models.sh
  src/sampleworks/utils/guidance_script_arguments.py
  tests/utils/test_guidance_script_arguments.py
Due: ty-boltz

0.6.1
  pixi.lock
  pyproject.toml
Due: sort_pyproject

test(msa): assert unpaired run_mmseqs2 call forwards env/auth flags
  tests/utils/test_msa.py
Due: ty-boltz

test(msa): add MSAManager and _compute_msa unit tests
  tests/utils/test_msa.py
Due: ty-boltz

test(msa): add MSAManager unit tests (#178) (#220)
  tests/utils/test_msa.py
Due: ty-boltz

fix(rf3): bind Fabric to caller-specified GPU
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/models/test_rf3_device_selection.py
Due: ty-boltz, ty-rf3

docs(comment): updated docstrings with references and a comment about CUDA
  src/sampleworks/models/rf3/wrapper.py
Due: ty-rf3

fix: lint check
  src/sampleworks/models/rf3/wrapper.py
Due: ty-rf3

fix(rf3): bind Fabric to caller-specified GPU (#222)
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/models/test_rf3_device_selection.py
Due: ty-boltz, ty-rf3

0.6.2
  pixi.lock
  pyproject.toml
Due: sort_pyproject

feat: script for classifying conformational changes
  .gitignore
  scripts/eval/classify_altloc_regions.py
Due: ty-boltz

refactor: move resolve_cif_path to grid_search_eval_utils.py
  scripts/eval/classify_altloc_regions.py
  src/sampleworks/eval/grid_search_eval_utils.py
Due: ty-boltz

review: addressing bot review fb
  .gitignore
  scripts/eval/classify_altloc_regions.py
Due: ty-boltz

review: addressing @marcuscollins fb and bot fb
  scripts/eval/classify_altloc_regions.py
  src/sampleworks/eval/grid_search_eval_utils.py
Due: ty-boltz

docs: add grid_search_eval_utils.py resolve_cif_path NumPy style docstring
  src/sampleworks/eval/grid_search_eval_utils.py
Due: ty-boltz

Add diffuse.yaml for Diffuse platform integration
  diffuse.yaml
Due: none

eval: script for classifying conformational changes (#223)
  .gitignore
  scripts/eval/classify_altloc_regions.py
  src/sampleworks/eval/grid_search_eval_utils.py
Due: ty-boltz

Fix CLI flag names to match run_grid_search.py
  diffuse.yaml
Due: none

Fix CLI command in header comment: trigger → start
  diffuse.yaml
Due: none

Add flexible Diffuse params runs
  Dockerfile
  GRID_SEARCH.md
  README.md
  diffuse.yaml
  docker-entrypoint.sh
  run_grid_search.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/run_params.py
  tests/utils/test_run_params.py
Due: ty-boltz

feat: append JobResult timing and status to job_metadata.json
  src/sampleworks/utils/guidance_script_utils.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

fix: apply container-to-host path remapping to JobResult fields
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

docs: convert new docstrings to NumPy style per AGENTS.md
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

Added gemmi and functions to normalize output CIF and ensure PDB-REDO tortoize compliance
  README.md
  pyproject.toml
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/resources/1vme/1vme_final_carved_edited_0.5occA_0.5occB.cif
Due: sort_pyproject, ty-boltz

feat(diffuse): add ACTL-native Sampleworks wrappers
  Dockerfile
  docker-entrypoint.sh
  rf3_partial_occ_sweep_chiral_off_actl.sh
  rf3_partial_occ_sweep_fixed_actl.sh
  run_all_models_actl.sh
  run_all_models_mdc_actl.sh
  run_grid_search_actl.sh
  run_protenix_mini_tiny_actl.sh
  run_rf3_partial_actl.sh
  run_rf3_partial_fixed_actl.sh
  run_rf3_protenix_mdc_actl.sh
Due: none

fix(diffuse): harden ACTL wrapper orchestration
  docker-entrypoint.sh
  run_all_models_actl.sh
  run_all_models_mdc_actl.sh
  run_grid_search_actl.sh
  run_protenix_mini_tiny_actl.sh
  run_rf3_partial_actl.sh
  run_rf3_protenix_mdc_actl.sh
Due: none

feat: generate synthetic sf for one row with occupancy changeable using gemmi structure.
  pixi.lock
  pyproject.toml
  src/sampleworks/eval/generate_synthetic_sf.py
Due: sort_pyproject, ty-boltz

feat: support batch mode generation of synthetic sf
  src/sampleworks/eval/generate_synthetic_sf.py
Due: ty-boltz
