Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

sort_pyproject:
  name: sort pyproject.toml
  entry: toml-sort
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  language: python
  additional_dependencies:
  - toml-sort==0.24.3

ty-boltz:
  name: ty (boltz environment)
  entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-rf3:
  name: ty (rf3 environment)
  entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-protenix:
  name: ty (protenix environment)
  entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

[WIP] fixing Claude's implementation of a Protenix wrapper, so it doesn't just give us unguided samples
  pyproject.toml
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/data/cc89_epoch415.yaml
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/models/protpardelle/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: sort_pyproject, ty-boltz

fix(protpardelle): complete denoising step wiring (#267)
  .actlignore
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

fix(protpardelle): pipe sampling options through guidance CLI (#270)
  src/sampleworks/cli/guidance.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/cli/test_guidance_cli.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

Starting to debug Protpardelle on actl
  src/sampleworks/cli/guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

Resolving coderabbitai f/b on PR #274
  pyproject.toml
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
Due: sort_pyproject, ty-boltz

Modify EDMSamplerConfig options for Protpardelle-1c
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

fix(samplers): reconcile FlowModelWrapper.step call with Protocol (#288)
  src/sampleworks/cli/guidance.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  tests/runs/test_runner.py
Due: ty-boltz

get default model config from protpardelle module rather than keeping our own copy.
  src/sampleworks/models/protpardelle/wrapper.py
Due: ty-boltz

Addressing f/b from @kchrispens and fixing lint issues
  src/sampleworks/cli/guidance.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
  tests/runs/test_runner.py
Due: ty-boltz

refactor(protpardelle)!: remove inert sampling config fields and CLI flags
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/cli/test_guidance_cli.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

fix(imports,tests): support bare require_* decorators; clean up protpardelle temp dirs (#297)
  src/sampleworks/utils/imports.py
  tests/models/protpardelle/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

Add @overloads to decorators in imports.py to satisfy ty checks
  src/sampleworks/utils/imports.py
Due: ty-boltz

fix ruff issue w/ dimensions of tensor
  src/sampleworks/models/protpardelle/wrapper.py
Due: ty-boltz

add some comments about the protpardelle atom_mask
  src/sampleworks/models/protpardelle/wrapper.py
Due: ty-boltz

minor fixes from PR 300 f/b
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

fix(protpardelle): complete denoising step wiring (#267)
  src/sampleworks/models/protpardelle/wrapper.py
Due: ty-boltz

addressing coderabbit ai f/b on PR 300
  pyproject.toml
  src/sampleworks/models/protpardelle/wrapper.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: sort_pyproject, ty-boltz

ci,test: add relock workflow, run protpardelle-dev cpu-tests, fix availability assertion
  .github/workflows/ci.yml
  tests/test_imports.py
Due: ty-boltz

removing/modifying tests that are outdated/useless
  pixi.lock
  tests/integration/test_mismatch_integration.py
  tests/test_imports.py
Due: ty-boltz

Debugging tests when adding protpardelle-1c
  src/sampleworks/core/samplers/edm.py
  tests/conftest.py
Due: ty-boltz

ci: set CONDA_OVERRIDE_CUDA=12 for relock on GPU-less runner
  .github/workflows/relock.yml
Due: none

Updating pixi.lock
  pixi.lock
Due: none

Made a wrapper for atomworks' that uses ccd_mirror_path=None and hydrogen_policy='remove', and use that for all of the structure_xxxx fixtures unless they set other options for parse.
  tests/conftest.py
Due: ty-boltz

[WIP] fixing Claude's implementation of a Protenix wrapper, so it doesn't just give us unguided samples
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

ci: revert relock to dispatch-only (lock regenerated in 282e32d)
  .github/workflows/relock.yml
Due: none

ci: temporarily trigger relock on push to regenerate lock on linux
  .github/workflows/relock.yml
Due: none

Add docstring to new helper function parse_and_remove_hydrogens
  tests/conftest.py
Due: ty-boltz

fix(protpardelle): preserve input atom order through atom37 round trip
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

updating pixi.lock... again
  pixi.lock
Due: none

fixing ruff/ty issues
  src/sampleworks/models/protpardelle/wrapper.py
  tests/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
  tests/test_imports.py
Due: ty-boltz

feat(add protpardelle): Add the Protpardelle-1c cc89 protein generative model. (#300)
  .actlignore
  .github/workflows/ci.yml
  .github/workflows/relock.yml
  pixi.lock
  pyproject.toml
  src/sampleworks/cli/guidance.py
  src/sampleworks/data/cc89_epoch415.yaml
  src/sampleworks/models/protpardelle/__init__.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
  tests/cli/test_guidance_cli.py
  tests/conftest.py
  tests/integration/test_mismatch_integration.py
  tests/models/protpardelle/__init__.py
  tests/models/protpardelle/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
  tests/runs/test_runner.py
  tests/test_imports.py
Due: sort_pyproject, ty-boltz

0.16.0
  pyproject.toml
Due: sort_pyproject

adding protpardelle default settings
  experiments/protpardelle.toml
Due: none

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ty-boltz: any of: \.py$, but not: (real_space_density|protenix|rf3|rfd3)
  ty-rf3: any of: (rf3|rfd3) and \.py$
  ty-protenix: any of: protenix and \.py$
