Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

sort_pyproject:
  name: sort pyproject.toml
  entry: toml-sort
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  language: python
  additional_dependencies:
  - toml-sort==0.24.3

ty-boltz:
  name: ty (boltz environment)
  entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-rf3:
  name: ty (rf3 environment)
  entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-protenix:
  name: ty (protenix environment)
  entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

feat(grid search args): rename --models to --model and propagate the change; resolves https://github.com/diff-use/sampleworks/issues/150
  run_grid_search.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

feat(grid search args): rename --methods to --method and propagate the change, resolves https://github.com/diff-use/sampleworks/issues/151
  run_grid_search.py
Due: ty-boltz

fix(eval): fixing bugs in paths and variable naming in https://github.com/diff-use/sampleworks/pull/157
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
Due: ty-boltz

fix(checkpoints): _resolve_checkpoint now validates that the checkpoint exists and raises if not
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

fix(rf3): scattering params fix
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/sf.py
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/density_utils.py
  src/sampleworks/utils/elements.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/conftest.py
  tests/integration/test_mismatch_integration.py
  tests/rewards/test_real_space_density_reward.py
Due: ty-boltz, ty-rf3

fix: rename --methods to --method, apply ruff formatting
  run_grid_search.py
Due: ty-boltz

fix(log): pass and log altloc_occ dict rather than float to get base map
  scripts/eval/rscc_grid_search_script.py
Due: ty-boltz

refactor(edm): pass EDMSamplerConfig to AF3EDMSampler and update direct calls
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/conftest.py
  tests/integration/test_mismatch_integration.py
  tests/integration/test_pipeline_integration.py
Due: ty-boltz

refactor(edm): update sampler registry for indirect calls in tests
  tests/conftest.py
Due: ty-boltz

fix: auto-resolve checkpoint paths from baked-in /checkpoints/ with legacy fallback
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

Use pre-built checkpoints base image instead of downloading/copying checkpoints
  .github/workflows/docker.yml
  Dockerfile
  run_all_models.sh
Due: none

fix: auto-pull latest Docker image before running jobs
  run_all_models.sh
Due: none

test(eval): add tests for ProteinConfig.get_base_map_path_for_occupancy
  tests/eval/test_eval_dataclasses.py
Due: ty-boltz

Rename --methods to --method in run_grid_search.py
  README.md
  run_grid_search.py
Due: ty-boltz

Fix args.methods reference and update help text for --method
  run_grid_search.py
Due: ty-boltz

fix(tests): loosen GPU floating-point tolerances in density reward tests
  tests/rewards/test_real_space_density_reward.py
Due: none

fix(tests): tighten vmap tolerance with comment on observed GPU variance
  tests/rewards/test_real_space_density_reward.py
Due: none

feat(grid search args): rename --use-tweedie argument to --step-scaler-type which defaults to noisespace
  run_grid_search.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

fix:add back boltz1 option to run_grid_search.py, correct arguments in run_all_models.sh
  run_all_models.sh
  run_grid_search.py
Due: ty-boltz

code(eval):unifying eval script args, resolving https://github.com/diff-use/sampleworks/issues/110
  scripts/eval/bond_geometry_eval.py
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
  scripts/eval/run_and_process_phenix_clashscore.py
  src/sampleworks/eval/grid_search_eval_utils.py
Due: ty-boltz

code(eval): further unifying eval script methods
  scripts/eval/bond_geometry_eval.py
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
  scripts/eval/run_and_process_phenix_clashscore.py
  src/sampleworks/eval/grid_search_eval_utils.py
Due: ty-boltz

code(eval):Minor refactoring of bond geometry eval script; renaming experiments->trials in eval setup methods
  scripts/eval/bond_geometry_eval.py
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/eval/grid_search_eval_utils.py
Due: ty-boltz

fix(tests): remove zero occupancy test, we can allow that
  tests/rewards/test_reward_inputs.py
Due: ty-boltz

fix(rf3): add_missing_atoms also, along with giving elements that weren't in the base structure, adds nan coords, b-factors, and occupancies of 0
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
  tests/conftest.py
  tests/rewards/test_reward_inputs.py
Due: ty-boltz, ty-rf3, ty-protenix

Update RewardInputs documentation to note that it accepts all non-negative occupancies, not just positive
  src/sampleworks/core/rewards/protocol.py
Due: ty-boltz

Apply suggestions from code review--handle case where all coordinates are NaN in tests.
  tests/rewards/test_reward_inputs.py
Due: ty-boltz

fix: convert Path to str before writing out metadata since Path isn't JSON serializable.
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

fix:PR 176 feedback from k.chrispens. as_dict method should return something; add MSA cache validation
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/msa.py
Due: ty-boltz

fix: make sure that if RF3 is run with an empty MSA cache, we use the correct .a3m MSA files
  src/sampleworks/utils/msa.py
Due: ty-boltz

feat(ci): automated semantic release and versioned Docker tags
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG.md
  README.md
  pyproject.toml
Due: sort_pyproject

fix(release): make sure we can stay at v0.x.y and address CR fb
  .github/workflows/release.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  pixi.lock
  pyproject.toml
Due: sort_pyproject

docs(release): fix agents.md reference to pre-commit and not prek
  AGENTS.md
Due: none

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ty-boltz: any of: \.py$, but not: (real_space_density|protenix|rf3|rfd3)
  ty-rf3: any of: (rf3|rfd3) and \.py$
  ty-protenix: any of: protenix and \.py$
