Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, pyright-boltz, pyright-protenix

sort_pyproject:
  name: sort pyproject.toml
  entry: toml-sort
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  language: python
  additional_dependencies:
  - toml-sort==0.23.1

pyright-boltz:
  name: pyright (boltz environment)
  entry: bash -c 'pixi run -e boltz-dev pyright "$@"' --
  language: system
  pass_filenames: true

pyright-protenix:
  name: pyright (protenix environment)
  entry: bash -c 'pixi run -e protenix-dev pyright "$@"' --
  language: system
  pass_filenames: true

WIP: refactor(models): rename ModelWrapper protocol and refactor Boltz wrapper
  src/sampleworks/models/af3/__init__.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/chai/__init__.py
  src/sampleworks/models/model_wrapper_protocol.py
  src/sampleworks/models/protocol.py
  src/sampleworks/models/protpardelle/__init__.py
  tests/conftest.py
  tests/models/boltz/test_boltz_wrapper.py
  tests/models/test_model_wrapper_protocol.py
Due: pyright-boltz

WIP: feat(scalers): add ScoreScaler and TrajectoryScaler protocols with implementations
  src/sampleworks/core/scalers/__init__.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/protocol.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/core/scalers/score_scalers.py
Due: pyright-boltz

add method to TrajectorySampler to verify schedule works with it
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/samplers/protocol.py
Due: pyright-boltz

chore: remove empty processing module placeholder files
  src/sampleworks/core/processing/__init__.py
  src/sampleworks/core/processing/cryoem.py
  src/sampleworks/core/processing/nmr.py
  src/sampleworks/core/processing/xray/__init__.py
  src/sampleworks/core/processing/xray/bragg.py
  src/sampleworks/core/processing/xray/density.py
  src/sampleworks/core/processing/xray/diffuse.py
Due: pyright-boltz

WIP: feat(eval): add structure evaluation utilities
  src/sampleworks/eval/structure_utils.py
Due: pyright-boltz

updating EDMSampler and step output spec
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/samplers/protocol.py
Due: pyright-boltz

protocol updates to accomodate FKSteering
  pyproject.toml
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/samplers/protocol.py
Due: sort_pyproject, pyright-boltz

WIP: add FKSteering updated, needs testing still
  src/sampleworks/core/scalers/fk_steering.py
Due: pyright-boltz

updated model definitions to fit new protocol, small update in boltz to address MSAs where the multiple chains have the same MSA
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz, pyright-protenix

New script that patches the CIF files we write, so that we can at least fix them.
  run_grid_search.py
  scripts/patch_input_cif_files.py
Due: pyright-boltz

Update args, fix joblib error in patching script.
  scripts/patch_input_cif_files.py
Due: pyright-boltz

Addressing PR 72 f/b
  scripts/patch_input_cif_files.py
Due: pyright-boltz

updated filter_common_atoms to handle offset resids, added more tests
  src/sampleworks/utils/atom_array_utils.py
  tests/utils/conftest.py
  tests/utils/test_atom_array_utils.py
Due: pyright-boltz

Boltz fixed and scalers updated
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/boltz/wrapper.py
Due: pyright-boltz

RF3 and Protenix working I think
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz, pyright-protenix

cleanup
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/utils/atom_array_utils.py
Due: pyright-boltz

adding script to compute clashscores using phenix.clashscore; making sure cif patching script doesn't write nan coordinates; reorg'ing dependencies in pyproject.toml
  pixi.lock
  pyproject.toml
  scripts/patch_input_cif_files.py
  scripts/run_and_process_phenix_clashscore.py
Due: sort_pyproject, pyright-boltz

Addressing coderabbit f/b on PR 87
  scripts/patch_input_cif_files.py
  scripts/run_and_process_phenix_clashscore.py
Due: pyright-boltz

fixing the saving issues
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

protenix needs AtomArray outside TYPE_CHECKING
  src/sampleworks/models/protenix/wrapper.py
Due: pyright-protenix

RF3 has full array, deal with that during saving
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

Addressing k.chrispen's f/b on PR 87
  scripts/run_and_process_phenix_clashscore.py
Due: pyright-boltz

addressing more coderabbit f/b
  scripts/run_and_process_phenix_clashscore.py
Due: pyright-boltz

First version of bond angle/length evaluation script using peppr
  pyproject.toml
  src/sampleworks/eval/bond_angle_and_length_outlier_eval_script.py
Due: sort_pyproject, pyright-boltz

Adding script to report bond angle and length outliers
  pyproject.toml
  src/sampleworks/eval/bond_angle_and_length_outlier_eval_script.py
Due: sort_pyproject, pyright-boltz

Addressing CodeRabbit f/b on PR 89
  src/sampleworks/eval/bond_angle_and_length_outlier_eval_script.py
Due: pyright-boltz

addressing yet more coderabbit f/b
  src/sampleworks/eval/bond_angle_and_length_outlier_eval_script.py
Due: pyright-boltz

feat: migrate to prek
  .pre-commit-config.yaml
  pyproject.toml
Due: sort_pyproject

fix: pyright run passes with prek
  scripts/patch_input_cif_files.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/imports.py
Due: pyright-boltz

Addressing k.chrispen's f/b on PR 89
  scripts/run_and_process_phenix_clashscore.py
  src/sampleworks/eval/bond_angle_and_length_outlier_eval_script.py
  src/sampleworks/eval/lddt_evaluation_script.py
Due: pyright-boltz

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  pyright-boltz: any of: \.py$, but not: (real_space_density|protenix)
  pyright-protenix: any of: protenix and \.py$
