Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.24.3

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--verbose, --fix]
      # Run the formatter.
      - id: ruff-format
        args: [--verbose]

  - repo: local
    hooks:
      - id: ty-boltz
        name: ty (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix|rf3|rfd3)
        priority: 50

      - id: ty-rf3
        name: ty (rf3 environment)
        entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: (rf3|rfd3)
        priority: 50

      - id: ty-protenix
        name: ty (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix
        priority: 50

refactor: extract shared structure loading in generate synthetic reward into synthetic_utils
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/generate_synthetic_sf.py
  src/sampleworks/eval/synthetic_utils.py
  src/sampleworks/utils/atom_array_utils.py
  tests/eval/test_generate_synthetic_sf.py
Due: ty-boltz

chore(doc): add docstring in tests
  tests/eval/test_generate_synthetic_sf.py
Due: ty-boltz

test(sfc): add atomarray_to_gemmi tests using 6b8x
  src/sampleworks/eval/generate_synthetic_sf.py
  tests/eval/test_generate_synthetic_sf.py
Due: ty-boltz

feat: support batch mode generation of synthetic sf
  src/sampleworks/eval/generate_synthetic_sf.py
Due: ty-boltz

chore(types): fix easy ty warnings shared across boltz/protenix/rf3 envs
  scripts/eval/classify_altloc_regions.py
  src/sampleworks/metrics/metric.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/mmseqs2.py
  tests/cli/test_guidance_cli.py
  tests/rewards/test_real_space_density_reward.py
  tests/utils/test_framework_utils.py
Due: ty-boltz

feat: generate synthetic sf for one row with occupancy changeable using gemmi structure.
  pyproject.toml
  src/sampleworks/eval/generate_synthetic_sf.py
Due: sort_pyproject, ty-boltz

fix(msa): normalize protenix MSA paths to Path in get_msa
  src/sampleworks/utils/msa.py
Due: ty-boltz

feat(synthetic-sf): add script to generate synthetic structure factors (#234)
  pixi.lock
  pyproject.toml
  scripts/eval/classify_altloc_regions.py
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/generate_synthetic_sf.py
  src/sampleworks/eval/synthetic_utils.py
  src/sampleworks/metrics/metric.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/mmseqs2.py
  src/sampleworks/utils/msa.py
  tests/cli/test_guidance_cli.py
  tests/eval/test_generate_synthetic_sf.py
  tests/rewards/test_real_space_density_reward.py
  tests/utils/test_framework_utils.py
Due: sort_pyproject, ty-boltz

0.9.0
  pyproject.toml
Due: sort_pyproject

get default model config from protpardelle module rather than keeping our own copy.
  src/sampleworks/models/protpardelle/wrapper.py
Due: ty-boltz

Changes to pixi files to facilitate development on Mac OSX
  pyproject.toml
Due: sort_pyproject

Fixes Issue #231 so that we don't accidentally delete original input structure files.
  src/sampleworks/utils/guidance_script_utils.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

update pixi.lock
  pixi.lock
Due: none

Starting to debug Protpardelle on actl
  src/sampleworks/cli/guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

feat: add GPU memory optimization utilities
  src/sampleworks/gpu_memory_optimizer.py
Due: ty-boltz

test: add GPU memory optimization validation
  tests/conftest.py
Due: ty-boltz

gpu: opt
  gpu_opt.py
Due: ty-boltz

cli: add option to not include all altloc selection in find_altloc_selections
  scripts/eval/find_altloc_selections.py
  src/sampleworks/utils/cif_utils.py
Due: ty-boltz

tests: add a few tests for find_altloc_selections.py
  tests/eval/test_find_altloc_selections_script.py
Due: ty-boltz

chore: prek-ing
  docker-entrypoint.sh
  src/sampleworks/utils/cif_utils.py
Due: ty-boltz

feat: add RMSD metric
  src/sampleworks/metrics/rmsd.py
  tests/metrics/conftest.py
  tests/metrics/test_lddt_metrics.py
  tests/metrics/test_rmsd_metrics.py
Due: ty-boltz

fix(protenix): resolve MSA typecheck errors
  src/sampleworks/utils/msa.py
Due: ty-boltz

fix(protpardelle): complete denoising step wiring
  .actlignore
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

fix: stop ACTL ignore from excluding package data
  .actlignore
Due: none

Changes to pixi files to facilitate development on Mac OSX (#255)
  pixi.lock
  pyproject.toml
Due: sort_pyproject

Mdc/issue 231 dont delete structure file (#256)
  src/sampleworks/utils/guidance_script_utils.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

fix: stop ACTL ignore from excluding package data (#261)
  .actlignore
Due: none

0.9.1
  pyproject.toml
Due: sort_pyproject

Add citation section to README
  README.md
Due: none

Add citation section to README (#262)
  README.md
Due: none

cli: add option to not get the all-altloc selection string from find_altloc_selections.py (#221)
  docker-entrypoint.sh
  scripts/eval/find_altloc_selections.py
  src/sampleworks/utils/cif_utils.py
  tests/eval/test_find_altloc_selections_script.py
Due: ty-boltz

Ext as default shell
  .github/workflows/docker.yml
  .gitignore
  Dockerfile.astera
  README.md
  docker/astera/ext-config.toml
  docker/astera/install-ext-shell-hooks.sh
  docker/astera/install-ext.sh
  docker/astera/sampleworks-ext-shell.sh
Due: none

fix(protenix): preserve MSA key ordering semantics
  src/sampleworks/utils/msa.py
  tests/utils/test_msa.py
Due: ty-boltz

test(protenix): document MSA key ordering case
  tests/utils/test_msa.py
Due: ty-boltz

feat: add RMSD metric (#227)
  src/sampleworks/metrics/rmsd.py
  tests/metrics/conftest.py
  tests/metrics/test_lddt_metrics.py
  tests/metrics/test_rmsd_metrics.py
Due: ty-boltz

0.10.0
  pyproject.toml
Due: sort_pyproject

feat(eval): find max rmsd subsegment script
  scripts/eval/classify_altloc_regions.py
  scripts/eval/find_max_rmsd_subsegment.py
  src/sampleworks/utils/atom_array_utils.py
Due: ty-boltz

fix: addressing Marcus's comments
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/cli/test_guidance_cli.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz
