Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, pyright-boltz, pyright-rf3, pyright-protenix

sort_pyproject:
  name: sort pyproject.toml
  entry: toml-sort
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  language: python
  additional_dependencies:
  - toml-sort==0.24.3

pyright-boltz:
  name: pyright (boltz environment)
  entry: bash -c 'pixi run -e boltz-dev pyright "$@"' --
  language: system
  pass_filenames: true
  priority: 50

pyright-rf3:
  name: pyright (rf3 environment)
  entry: bash -c 'pixi run -e rf3-dev pyright "$@"' --
  language: system
  pass_filenames: true
  priority: 50

pyright-protenix:
  name: pyright (protenix environment)
  entry: bash -c 'pixi run -e protenix-dev pyright "$@"' --
  language: system
  pass_filenames: true
  priority: 50

addressing AI CR comments
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/samplers/protocol.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/protocol.py
  tests/mocks/samplers.py
  tests/utils/test_framework_utils.py
Due: pyright-boltz

fix(refactor,docs): address CR comments on fk_steering
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/protocol.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/eval/structure_utils.py
  tests/conftest.py
Due: pyright-boltz

WIP: feat(eval): add structure evaluation utilities
  src/sampleworks/eval/structure_utils.py
Due: pyright-boltz

chore: remove empty processing module placeholder files
  src/sampleworks/core/processing/__init__.py
  src/sampleworks/core/processing/cryoem.py
  src/sampleworks/core/processing/nmr.py
  src/sampleworks/core/processing/xray/__init__.py
  src/sampleworks/core/processing/xray/bragg.py
  src/sampleworks/core/processing/xray/density.py
  src/sampleworks/core/processing/xray/diffuse.py
Due: pyright-boltz

modelwrapper fixes to help pass tests, protenix still is goofy
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/structure_processing.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz, pyright-rf3, pyright-protenix

updated model definitions to fit new protocol, small update in boltz to address MSAs where the multiple chains have the same MSA
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz, pyright-rf3, pyright-protenix

fix(review): addressing final comments from first round of Marcus's CR
  src/sampleworks/core/samplers/protocol.py
  src/sampleworks/models/protocol.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/framework_utils.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz, pyright-rf3

rename score_scalers to step_scalers and update refs
  src/sampleworks/core/scalers/__init__.py
  src/sampleworks/core/scalers/step_scalers.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/conftest.py
  tests/integration/test_pipeline_integration.py
Due: pyright-boltz

tests passing and things running!!!!!
  src/sampleworks/core/rewards/utils.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/samplers/protocol.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/core/scalers/score_scalers.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

WIP: feat(scalers): add ScoreScaler and TrajectoryScaler protocols with implementations
  src/sampleworks/core/scalers/__init__.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/protocol.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/core/scalers/score_scalers.py
Due: pyright-boltz

add references to AF3EDMSampler
  src/sampleworks/core/samplers/edm.py
Due: pyright-boltz

fix(review): fixed bug in conftest from earlier update, addressing EDM feedback
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/samplers/protocol.py
  tests/conftest.py
  tests/rewards/test_real_space_density_reward.py
Due: pyright-boltz

WIP: feat(rewards): add rewards module with utility functions
  src/sampleworks/core/rewards/__init__.py
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/core/rewards/utils.py
Due: pyright-boltz

protocol updates to accomodate FKSteering
  pyproject.toml
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/samplers/protocol.py
Due: sort_pyproject, pyright-boltz

fix(ModelWrappers): fixing alignment bugs, Protenix backprop through model, Protenix structure processing
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz, pyright-rf3, pyright-protenix

feat(docs): put math in :math: for later docs generation, and rename StepContext to StepParams for clarity around purpose
  src/sampleworks/core/samplers/__init__.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/samplers/protocol.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/protocol.py
  src/sampleworks/core/scalers/step_scalers.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/protocol.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/frame_transforms.py
  tests/conftest.py
  tests/integration/test_pipeline_integration.py
  tests/mocks/samplers.py
  tests/mocks/scalers.py
Due: pyright-boltz, pyright-rf3, pyright-protenix

WIP: add FKSteering updated, needs testing still
  src/sampleworks/core/scalers/fk_steering.py
Due: pyright-boltz

add method to TrajectorySampler to verify schedule works with it
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/samplers/protocol.py
Due: pyright-boltz

avoid circular import in import_utils and conftest
  src/sampleworks/utils/__init__.py
  tests/models/test_model_wrapper_protocol.py
Due: pyright-boltz

fix: maps are now aligned due to CCP4 saving throwing away origin
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/utils/density_utils.py
Due: pyright-boltz

add ligand, water stripping and save the selected atoms as CIF
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/utils/atom_array_utils.py
Due: pyright-boltz

address PR f/b, add tests, fix uniform occupancy bug
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/utils/atom_array_utils.py
  tests/utils/test_atom_array_utils.py
Due: pyright-boltz

Changes to make multiple selections per protein easy. New script to find useful selections for analysis based on altlocs.
  scripts/eval/find_altloc_selections.py
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
  scripts/eval/run_and_process_phenix_clashscore.py
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/eval/bond_angle_and_length_outlier_eval_script.py
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/eval/occupancy_utils.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/metrics/lddt.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/cif_utils.py
Due: pyright-boltz

Adding back bond geometry script; making it possible to compute density over AtomArrayStacks
  scripts/eval/bond_geometry_eval.py
  src/sampleworks/utils/density_utils.py
Due: pyright-boltz

Debugging tests, formatting, pyright and ruff
  scripts/eval/bond_geometry_eval.py
  scripts/eval/find_altloc_selections.py
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
  scripts/eval/run_and_process_phenix_clashscore.py
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/metrics/lddt.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/cif_utils.py
  tests/eval/test_structure_utils.py
Due: pyright-boltz

fix(typing): swap from cast to ignore in atom_array_utils.py
  src/sampleworks/utils/atom_array_utils.py
Due: pyright-boltz

fix(refactor): addressing remainder of Marcus's feedback
  src/sampleworks/eval/generate_synthetic_density.py
  tests/utils/test_atom_array_utils.py
Due: pyright-boltz

fix(density): AtomArrayStacks broke density calculation
  .gitignore
  pixi.lock
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/utils/density_utils.py
  tests/conftest.py
  tests/utils/test_density_utils.py
Due: pyright-boltz

feat(typechecking): migrate from pyright to ty
  .pre-commit-config.yaml
  pixi.lock
  pyproject.toml
Due: sort_pyproject

fix(ty): add tool section for ty
  pixi.lock
  pyproject.toml
Due: sort_pyproject

Changes to CIF patching script: 1/ set the seq id to what it is in the original pdb; 2/ include occ and B-factor columns 3/ write to a file refined-patched.cif instead of backing up the original
  pixi.lock
  scripts/patch_input_cif_files.py
Due: pyright-boltz

put back deleted pixi.lock
  pixi.lock
Due: none

addressing CodeRabbit f/b on PR 103
  scripts/patch_input_cif_files.py
Due: pyright-boltz

Actually use argument --input-pdb-pattern
  scripts/patch_input_cif_files.py
Due: pyright-boltz

fix(ty): migrate remaining pyright suppressions to ty
  pixi.lock
  pyproject.toml
  run_grid_search.py
  scripts/patch_input_cif_files.py
  scripts/run_and_process_phenix_clashscore.py
  src/sampleworks/core/forward_models/xray/real_space_density.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/ops/dilate_points_cuda.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/mtzfile.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/sf.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/spacegroups.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/transformer.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/unitcell.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/volume.py
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/eval/bond_angle_and_length_outlier_eval_script.py
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/lddt_evaluation_script.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/metrics/lddt.py
  src/sampleworks/metrics/sidechain_metrics.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/structure_processing.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/density_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
  src/sampleworks/utils/mmseqs2.py
  src/sampleworks/utils/msa.py
  tests/conftest.py
  tests/eval/test_structure_utils.py
  tests/rewards/test_real_space_density_reward.py
  tests/utils/test_atom_array_utils.py
  tests/utils/test_density_utils.py
  tests/utils/test_framework_utils.py
Due: sort_pyproject, pyright-boltz, pyright-protenix

Updates to map sequence ids back to original, include B-factors and occupancies, write to a different file name (refined-patched.cif)
  scripts/patch_input_cif_files.py
Due: pyright-boltz

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  pyright-boltz: any of: \.py$, but not: (real_space_density|protenix|rf3|rfd3)
  pyright-rf3: any of: (rf3|rfd3) and \.py$
  pyright-protenix: any of: protenix and \.py$
