Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.24.3

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--verbose, --fix]
      # Run the formatter.
      - id: ruff-format
        args: [--verbose]

  - repo: local
    hooks:
      - id: ty-boltz
        name: ty (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix|rf3|rfd3)
        priority: 50

      - id: ty-rf3
        name: ty (rf3 environment)
        entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: (rf3|rfd3)
        priority: 50

      - id: ty-protenix
        name: ty (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix
        priority: 50

Fix concurrency group for pull_request_target events
  .github/workflows/gpu-tests.yml
Due: none

Add security comment to PR checkout step
  .github/workflows/gpu-tests.yml
Due: none

Add github.sha fallback for push and workflow_dispatch events
  .github/workflows/gpu-tests.yml
Due: none

chore(release): use GitHub App token instead of PAT
  .github/workflows/release.yml
Due: none

removing env to test PR 199 and using old commit
  .github/workflows/gpu-tests.yml
Due: none

fix(ci): regenerate pixi.lock during semantic-release version bumps
  .github/workflows/release.yml
  pixi.lock
  pyproject.toml
Due: sort_pyproject

fix(ci): run semantic-release as CLI instead of Docker action
  .github/workflows/release.yml
  pyproject.toml
Due: sort_pyproject

chore: regenerate pixi.lock after pyproject.toml config change
  pixi.lock
Due: none

Speed up Docker build: registry cache, split layers, reorder checkpoints
  .github/workflows/docker.yml
  Dockerfile
Due: none

Run Docker build on gpu-1 runner, no push or cache write
  .github/workflows/docker.yml
Due: none

Switch to ubuntu-latest with free-disk-space action
  .github/workflows/docker.yml
Due: none

Enable registry cache to speed up subsequent builds
  .github/workflows/docker.yml
Due: none

Drop Docker build cache, rely on free-disk-space instead
  .github/workflows/docker.yml
Due: none

Prepare workflow for merge: restore push, remove branch trigger
  .github/workflows/docker.yml
Due: none

Pin free-disk-space action to commit SHA
  .github/workflows/docker.yml
Due: none

feat:add recycling steps argument to run_grid_search and run_guidance via GuidanceConfig and annotate_structure_for_* methods
  run_grid_search.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

feat:add number of diffusion steps as an argument to run_grid_search.py and in GuidanceConfig
  run_grid_search.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz, ty-rf3

Fix image digest echo: pushed not built
  .github/workflows/docker.yml
Due: none

Speed up Docker build: free disk space, drop broken cache (#204)
  .github/workflows/docker.yml
  Dockerfile
Due: none

fix(ci): switch buildx to docker driver to avoid disk-full during build
  .github/workflows/docker.yml
Due: none

Move checkpoint COPY after pixi installs, add df -h debugging
  Dockerfile
Due: none

Test: revert to checkpoints-before-pixi ordering with df -h debugging
  Dockerfile
Due: none

Test: single RUN for all pixi installs with checkpoints-first ordering
  Dockerfile
Due: none

fix(docker): combine pixi installs into single RUN to prevent disk-full
  .github/workflows/docker.yml
  Dockerfile
Due: none

fix(docker): combine pixi installs into single RUN to prevent disk-full (#206)
  Dockerfile
Due: none

0.4.4
  pixi.lock
  pyproject.toml
Due: sort_pyproject

PR 205 feedback fixes
  run_grid_search.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz, ty-protenix

Add configurable recycling steps and diffusion step count parameters (#205)
  run_grid_search.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz, ty-rf3, ty-protenix

Used Claude to add a new method in cif_utils.py to add a Biotite CIFCategory to a CIFFile object
  src/sampleworks/utils/cif_utils.py
  tests/utils/test_cif_utils.py
Due: ty-boltz

feat(ciffiles): Adding method and tests to add categories to CIFFiles; fixing up Claude's implementation and tests.
  src/sampleworks/utils/cif_utils.py
  tests/utils/test_cif_utils.py
Due: ty-boltz

Fix ruff I001 import sort in test_guidance_cli
  tests/cli/test_guidance_cli.py
Due: ty-boltz

Add unified CLI for run_guidance and fix missing args bug
  README.md
  pixi.lock
  pyproject.toml
  scripts/boltz1_fk_steering.py
  scripts/boltz1_pure_guidance.py
  scripts/boltz2_pure_guidance.py
  scripts/protenix_fk_steering.py
  scripts/protenix_pure_guidance.py
  scripts/rf3_fk_steering.py
  scripts/rf3_pure_guidance.py
  src/sampleworks/cli/__init__.py
  src/sampleworks/cli/guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  tests/cli/__init__.py
  tests/cli/test_guidance_cli.py
Due: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

Address review: dispatch tables, preset validation, cross-model tests
  src/sampleworks/utils/guidance_script_arguments.py
  tests/cli/test_guidance_cli.py
Due: ty-boltz

Fix ruff format, propagate exit codes, reject conflicting preset args
  scripts/boltz1_fk_steering.py
  scripts/boltz1_pure_guidance.py
  scripts/boltz2_fk_steering.py
  scripts/boltz2_pure_guidance.py
  scripts/protenix_fk_steering.py
  scripts/protenix_pure_guidance.py
  scripts/rf3_fk_steering.py
  scripts/rf3_pure_guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  tests/cli/test_guidance_cli.py
Due: ty-boltz, ty-rf3, ty-protenix

Add comprehensive CLI test coverage
  tests/cli/test_guidance_cli.py
Due: ty-boltz

Update pixi.lock after rebase onto main
  pixi.lock
Due: none

Remove 8 model-specific scripts in favor of unified CLI
  AGENTS.md
  README.md
  scripts/boltz1_fk_steering.py
  scripts/boltz1_pure_guidance.py
  scripts/boltz2_fk_steering.py
  scripts/boltz2_pure_guidance.py
  scripts/protenix_fk_steering.py
  scripts/protenix_pure_guidance.py
  scripts/rf3_fk_steering.py
  scripts/rf3_pure_guidance.py
Due: ty-boltz, ty-rf3, ty-protenix

Validate preset args early, add CLI entrypoint smoke test
  src/sampleworks/utils/guidance_script_arguments.py
  tests/cli/test_guidance_cli.py
Due: ty-boltz

feat(ciffiles): Write Sampleworks metadata into CIF files produced by grid search and patching script; resolves https://github.com/diff-use/sampleworks/issues/208
  scripts/patch_output_cif_files.py
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/integration/test_mismatch_integration.py
  tests/utils/test_cif_utils.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

Expose recycling_steps and num_diffusion_steps to CLI
  src/sampleworks/utils/guidance_script_arguments.py
  tests/cli/test_guidance_cli.py
Due: ty-boltz
