Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.24.3

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--verbose, --fix]
      # Run the formatter.
      - id: ruff-format
        args: [--verbose]

  - repo: local
    hooks:
      - id: ty-boltz
        name: ty (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix|rf3|rfd3)
        priority: 50

      - id: ty-rf3
        name: ty (rf3 environment)
        entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: (rf3|rfd3)
        priority: 50

      - id: ty-protenix
        name: ty (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix
        priority: 50

fix(eval): guard progress log against skipped trials in RSCC loop
  scripts/eval/rscc_grid_search_script.py
Due: ty-boltz

style(eval): remove underscore prefix from local variable names
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/eval/eval_dataclasses.py
Due: ty-boltz

fix(eval): use args.target_filename in eval scripts instead of hardcoded refined.cif
  scripts/eval/bond_geometry_eval.py
  scripts/eval/lddt_evaluation_script.py
Due: ty-boltz

refactor(eval): rename Experiment/ExperimentList to Trial/TrialList
  run_grid_search.py
  scripts/eval/bond_geometry_eval.py
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
  scripts/eval/run_and_process_phenix_clashscore.py
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/eval/grid_search_eval_utils.py
Due: ty-boltz

test(eval): add simple tests for Trial and TrialList data classes
  tests/eval/test_eval_dataclasses.py
Due: ty-boltz

test(eval): update tests to use altloc_occupancies instead of occ_a
  tests/eval/test_eval_dataclasses.py
Due: ty-boltz

fix(io): resolve structure and density paths relative to CSV location
  run_grid_search.py
  src/sampleworks/utils/guidance_script_arguments.py
Due: ty-boltz

fix(io): strengthen validation of protein CSV entries
  src/sampleworks/utils/protein_input.py
Due: ty-boltz

fix(io): patch arg hanlding for Path type in qfit.volume.
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/volume.py
Due: none

feat(io): support both absolute and relative paths in input csv via a ProteinInput data class
  run_grid_search.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/protein_input.py
Due: ty-boltz

rename methods field to method in GridSearchConfig
  run_grid_search.py
Due: ty-boltz

fix error message to use --method
  run_grid_search.py
Due: ty-boltz

update GridSearchConfig to use method
  run_grid_search.py
Due: ty-boltz

simplify method assignment
  run_grid_search.py
Due: ty-boltz

rename argparse flag to --method
  run_grid_search.py
Due: ty-boltz

update log message to use method
  run_grid_search.py
Due: ty-boltz

fix method loop logic
  run_grid_search.py
Due: ty-boltz

fix method references in JobConfig
  run_grid_search.py
Due: ty-boltz

fix indentation
  run_grid_search.py
Due: ty-boltz

code(eval):unifying eval script args, resolving https://github.com/diff-use/sampleworks/issues/110
  scripts/eval/bond_geometry_eval.py
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
  scripts/eval/run_and_process_phenix_clashscore.py
  src/sampleworks/eval/grid_search_eval_utils.py
Due: ty-boltz

code(eval): further unifying eval script methods
  scripts/eval/bond_geometry_eval.py
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
  scripts/eval/run_and_process_phenix_clashscore.py
  src/sampleworks/eval/grid_search_eval_utils.py
Due: ty-boltz

fix(readme): fix clone and prek, add help wanted section
  README.md
Due: none

chore(docs): add README updates and AGENTS.md updates with clearer test tasks
  AGENTS.md
  README.md
  pixi.lock
  pyproject.toml
Due: sort_pyproject

chore(docs): respond to marcus comments
  README.md
  pyproject.toml
Due: sort_pyproject

code(eval):Minor refactoring of bond geometry eval script; renaming experiments->trials in eval setup methods
  scripts/eval/bond_geometry_eval.py
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/eval/grid_search_eval_utils.py
Due: ty-boltz

chore: minor updates addressing #155
  README.md
Due: none

feat(ci): add GPU test workflow with pytest gpu marker
  .github/workflows/gpu-tests.yml
  pixi.lock
  pyproject.toml
  tests/integration/test_pipeline_integration.py
  tests/metrics/test_lddt_metrics.py
  tests/models/boltz/test_boltz_wrapper.py
  tests/models/test_model_wrapper_protocol.py
  tests/rewards/test_real_space_density_reward.py
  tests/utils/test_atom_reconciler.py
  tests/utils/test_density_utils.py
Due: sort_pyproject, ty-boltz

ci: cancel in-progress GPU tests on new push to same branch
  .github/workflows/gpu-tests.yml
Due: none

doc(grid search): Adding a first guide to running grid search, particularly how to find logs for debugging. Resolves https://github.com/diff-use/sampleworks/issues/149
  GRID_SEARCH.md
Due: none

feat(grid search args): rename --use-tweedie argument to --step-scaler-type which defaults to noisespace
  run_grid_search.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

fix(rf3): scattering params fix
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/sf.py
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/density_utils.py
  src/sampleworks/utils/elements.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/conftest.py
  tests/integration/test_mismatch_integration.py
  tests/rewards/test_real_space_density_reward.py
Due: ty-boltz, ty-rf3
