Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, pyright-boltz, pyright-protenix

.pre-commit-config.yaml:

default_language_version:
  python: python3.12
minimum_pre_commit_version: "3.5.0"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.23.1

      - id: pyright-boltz
        name: pyright (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev pyright "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix)

      - id: pyright-protenix
        name: pyright (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev pyright "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
        types_or: [python, pyi, jupyter]
      - id: ruff
        args: ["--fix"]
        types_or: [python, pyi, jupyter]

require ensemble_size parameter in noise init
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/model_wrapper_protocol.py
  src/sampleworks/models/protenix/wrapper.py
Due: pyright-boltz, pyright-protenix

vmap dimension handling
  src/sampleworks/core/forward_models/xray/real_space_density_deps/ops/dilate_points_cuda.py
Due: none

ensemble size handling
  src/sampleworks/core/scalers/pure_guidance.py
Due: pyright-boltz

FK steering updates after testing
  examples/boltz1_fk_steering.py
  examples/boltz1_pure_guidance.py
  examples/boltz2_fk_steering.py
  examples/boltz2_pure_guidance.py
  examples/protenix_fk_steering.py
  examples/protenix_pure_guidance.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
Due: pyright-boltz, pyright-protenix

docstring fix to make it so type doesn't get appended onto arg name in editor popup
  src/sampleworks/core/forward_models/xray/real_space_density.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/ops/dilate_points_cuda.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/volume.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/utils/interpolation.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/utils/quadrature.py
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/model_wrapper_protocol.py
  src/sampleworks/models/protenix/structure_processing.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/utils/frame_transforms.py
  src/sampleworks/utils/imports.py
  src/sampleworks/utils/structure_utils.py
  src/sampleworks/utils/torch_utils.py
Due: pyright-boltz, pyright-protenix

FK steering
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
Due: pyright-boltz

example runner scripts
  examples/boltz1_fk_steering.py
  examples/boltz2_fk_steering.py
  examples/protenix_fk_steering.py
Due: pyright-boltz, pyright-protenix

standardizing params at top of run_guidance (eventually should TypedDict this)
  src/sampleworks/core/scalers/pure_guidance.py
Due: pyright-boltz

working towards density calculation compatible with torch.vmap, which we need for fast FK steering. unforuntately loses grad w.r.t. B-factor for now
  src/sampleworks/core/forward_models/xray/real_space_density.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/ops/dilate_points_cuda.py
  src/sampleworks/core/rewards/real_space_density.py
Due: none

atomworks dep update
  .gitignore
  pyproject.toml
Due: sort_pyproject

update ccd_mirror_path to None to prevent atomworks failure without CCD mirror, fix save_trajectory to work with ensembles properly, fix atom mask for ensuring structure shapes match
  .pre-commit-config.yaml
  examples/boltz1_fk_steering.py
  examples/boltz1_pure_guidance.py
  examples/boltz2_fk_steering.py
  examples/boltz2_pure_guidance.py
  examples/protenix_fk_steering.py
  examples/protenix_pure_guidance.py
Due: pyright-boltz, pyright-protenix

parse fix in utility function for saving during debugging
  src/sampleworks/utils/structure_utils.py
Due: pyright-boltz

more atom processing fixes, propogating ccd mirror = None
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/structure_processing.py
  src/sampleworks/models/protenix/wrapper.py
  tests/conftest.py
Due: pyright-boltz, pyright-protenix

fix detection of the pixi environment in marimo notebooks during torch extension compilation
  src/sampleworks/core/forward_models/xray/real_space_density_deps/ops/csrc/__init__.py
Due: none

update gitignore
  .gitignore
Due: none

grid search runner
  run_grid_search.py
Due: pyright-boltz

atomworks pypi package is fixed, so can remove git ref
  pyproject.toml
Due: sort_pyproject

addressing copilot comments
  src/sampleworks/core/forward_models/xray/real_space_density_deps/ops/csrc/__init__.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/ops/dilate_points_cuda.py
  src/sampleworks/core/scalers/fk_steering.py
Due: pyright-boltz

[WIP, untested] script to process results of and compute RSCC
  pyproject.toml
Due: sort_pyproject

[WIP] working RSCC script that outputs .csv files; need to correctly average over structures in output .cif files
  src/sampleworks/eval/rscc_grid_search_script.py
Due: pyright-boltz

Refactoring example scripts to extract common argument parsing and file output methods
  examples/boltz1_fk_steering.py
  examples/boltz1_pure_guidance.py
  examples/boltz2_fk_steering.py
  examples/boltz2_pure_guidance.py
  examples/protenix_fk_steering.py
  examples/protenix_pure_guidance.py
  src/sampleworks/eval/run_grid_search.py
  src/sampleworks/utils/grid_search_utils.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz, pyright-protenix

Update analysis script name
  src/sampleworks/eval/analyze_rscc_grid_search.py
  src/sampleworks/eval/rscc_grid_search_analysis.py
Due: pyright-boltz

First commit of script produced automatically from Karson's RSCC eval notebook
  src/sampleworks/eval/rscc_grid_search_analysis.py
  src/sampleworks/eval/rscc_grid_search_script.py
Due: pyright-boltz

[WIP, untested] script to process results of and compute RSCC
  README.md
  pixi.lock
  pyproject-hatch.toml
  pyproject.toml
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/eval/constants.py
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/eval/metrics.py
  src/sampleworks/eval/occupancy_utils.py
  src/sampleworks/eval/rscc_grid_search_analysis.py
  src/sampleworks/eval/rscc_grid_search_script.py
Due: sort_pyproject, pyright-boltz

[WIP] working RSCC script that outputs .csv files; need to correctly average over structures in output .cif files
  pyproject.toml
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/eval/metrics.py
  src/sampleworks/eval/rscc_grid_search_script.py
Due: sort_pyproject, pyright-boltz

Average over ensembles; reference coordinates now use 0.0 and 1.0 occupancy structures; cache base maps for speed
  src/sampleworks/eval/rscc_grid_search_script.py
  src/sampleworks/eval/structure_utils.py
Due: pyright-boltz

added comment about fk-steering trajectory saving, duplicate key in pyproject.toml
  pyproject.toml
  src/sampleworks/utils/grid_search_utils.py
Due: sort_pyproject, pyright-boltz

clear cached_representations if featurize is run more than once, and change boltz YAML naming
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
Due: pyright-boltz, pyright-protenix

exist is ok for boltz YAML, moved protenix cached_representations clear to the right function, addressed Marcus's comment
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
Due: pyright-boltz, pyright-protenix

[WIP] working version using processes, but hitting strange tensor size errors
  src/sampleworks/eval/run_grid_search.py
  src/sampleworks/utils/checkpoint_utils.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz
