Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

sort_pyproject:
  name: sort pyproject.toml
  entry: toml-sort
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  language: python
  additional_dependencies:
  - toml-sort==0.24.3

ty-boltz:
  name: ty (boltz environment)
  entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-rf3:
  name: ty (rf3 environment)
  entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-protenix:
  name: ty (protenix environment)
  entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

cif: retire patch_output_cif_files.py; eval on refined.cif (#68)
  README.md
  analyses/all.toml
  analyses/analyze_grid_search.toml
  analyses/external_tools.toml
  scripts/eval/EVALUATION.md
  scripts/patch_output_cif_files.py
  src/sampleworks/data/input_registry.json
  tests/runs/test_runner.py
Due: ty-boltz

fix lint
  scripts/prepare_inputs.py
  scripts/verify_entity_carry_tortoize.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/utils/atom_reconciler.py
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/input_prep.py
  tests/eval/test_run_and_process_tortoize.py
  tests/utils/test_cif_utils.py
  tests/utils/test_input_prep.py
Due: ty-boltz

feat(rewards): score normalized E-values and batch partition in SFC
  src/sampleworks/core/rewards/structure_factor.py
Due: ty-boltz

test(rewards): extract reward-agnostic contract tests; add SF reward tests + fixtures
  tests/conftest.py
  tests/rewards/reward_input_helpers.py
  tests/rewards/test_real_space_density_reward.py
  tests/rewards/test_reward_function_contract.py
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

feat(rewards): initial add StructureFactorRewardFunction with Fprotein only
  src/sampleworks/core/rewards/structure_factor.py
  src/sampleworks/eval/generate_synthetic_sf.py
  src/sampleworks/eval/synthetic_utils.py
Due: ty-boltz

refactor(rewards): harden SFC experimental-column resolution
  src/sampleworks/core/rewards/structure_factor.py
  src/sampleworks/eval/generate_synthetic_sf.py
  tests/eval/test_generate_synthetic_sf.py
  tests/rewards/reward_input_helpers.py
  tests/rewards/test_reward_function_contract.py
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

test(rewards): cover combined vs per_conformer solvent divergence on altloc ensembles
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

feat(eval): write Fprotein and Ftotal sets with phases to one MTZ
  src/sampleworks/eval/generate_synthetic_sf.py
  tests/resources/1vme/1vme_final_crystalframe_0.5occA_0.5occB_1.80A.cif
  tests/resources/1vme/1vme_final_crystalframe_0.5occA_0.5occB_1.80A.mtz
Due: ty-boltz

style: apply ruff format to synthetic_utils and conftest
  src/sampleworks/eval/synthetic_utils.py
  tests/conftest.py
Due: ty-boltz

feat(rewards): add bulk-solvent Ftotal modes to SF reward
  src/sampleworks/core/rewards/structure_factor.py
  tests/rewards/reward_input_helpers.py
  tests/rewards/test_reward_function_contract.py
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

fix(eval): preserves cif→atomarray→gemmi→cif round trip annotations by rewriting array2hier
  src/sampleworks/eval/synthetic_utils.py
  tests/eval/test_generate_synthetic_sf.py
  tests/resources/1vme/1vme_final_crystalframe_0.5occA_0.5occB_1.80A.cif
Due: ty-boltz

test(eval): guard altloc labels survive atomarray_to_gemmi save round-trip
  tests/eval/test_generate_synthetic_sf.py
Due: ty-boltz

fix(eval): make --save-structure mmCIF round-trip into a biotite AtomArray
  src/sampleworks/eval/synthetic_utils.py
Due: ty-boltz

chore(deps): bump sfcalculator-torch to >=0.3.3
  pixi.lock
  pyproject.toml
  tests/resources/1vme/1vme_final_crystalframe_0.5occA_0.5occB_1.80A.mtz
Due: sort_pyproject

style(rewards): fix ruff lint on sf reward
  src/sampleworks/core/rewards/structure_factor.py
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

fix(rewards): apply SF B-factors/occupancies per __call__ instead of fixing in prepare()
  src/sampleworks/core/rewards/structure_factor.py
Due: ty-boltz

Added features according to the reviews
  analyses/all.toml
  analyses/analyze_grid_search.toml
  analyses/external_tools.toml
  scripts/eval/EVALUATION.md
  scripts/patch_output_cif_files.py
  tests/eval/script_loader.py
  tests/eval/test_patch_output_cif_files.py
  tests/runs/test_runner.py
Due: ty-boltz

fix(types): resolve typecheck warnings (#269)
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/sf.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/transformer.py
  src/sampleworks/core/forward_models/xray/real_space_density_deps/qfit/unitcell.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/metrics/lddt.py
  src/sampleworks/metrics/rmsd.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/framework_utils.py
  src/sampleworks/utils/msa.py
  tests/conftest.py
  tests/utils/test_atom_array_utils.py
  tests/utils/test_framework_utils.py
  tests/utils/test_msa.py
Due: ty-boltz, ty-rf3

0.12.1
  pyproject.toml
Due: sort_pyproject

0.12.2
  pyproject.toml
Due: sort_pyproject

docs(models): standardize model_atom_array docstring across wrappers (#296)
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
Due: ty-boltz, ty-rf3, ty-protenix

docs(cif): add CIF output correctness design doc (#68, #238)
  docs/design/cif-output-correctness.md
Due: none

refactor(fk_steering): extract per-particle guided step into a helper (#299)
  src/sampleworks/core/scalers/fk_steering.py
Due: ty-boltz

Bump Ext version
  Dockerfile.astera
  docker/astera/install-ext.sh
Due: none

ExT tool update - split binary so that pod requests less permissions (#304)
  Dockerfile.astera
  docker/astera/install-ext.sh
Due: none

fix(samplers): reconcile FlowModelWrapper.step call with Protocol (#288)
  src/sampleworks/cli/guidance.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  tests/runs/test_runner.py
Due: ty-boltz

Updating pixi.lock
  pixi.lock
Due: none

[WIP] fixing Claude's implementation of a Protenix wrapper, so it doesn't just give us unguided samples
  pixi.lock
  pyproject.toml
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/data/cc89_epoch415.yaml
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/models/protpardelle/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: sort_pyproject, ty-boltz

Resolving coderabbitai f/b on PR #274
  pyproject.toml
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
Due: sort_pyproject, ty-boltz

updating pixi.lock after merging main
  pixi.lock
Due: none

fix(protpardelle): complete denoising step wiring (#267)
  src/sampleworks/models/protpardelle/wrapper.py
Due: ty-boltz

Modify EDMSamplerConfig options for Protpardelle-1c
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

Updating tests in test_runner.py to allow them to run on only one GPU
  tests/runs/test_runner.py
Due: ty-boltz

get default model config from protpardelle module rather than keeping our own copy.
  src/sampleworks/models/protpardelle/wrapper.py
Due: ty-boltz

fix(protpardelle): complete denoising step wiring (#267)
  .actlignore
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

Starting to debug Protpardelle on actl
  src/sampleworks/cli/guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

fix(protpardelle): pipe sampling options through guidance CLI (#270)
  src/sampleworks/cli/guidance.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/cli/test_guidance_cli.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ty-boltz: any of: \.py$, but not: (real_space_density|protenix|rf3|rfd3)
  ty-rf3: any of: (rf3|rfd3) and \.py$
  ty-protenix: any of: protenix and \.py$
