Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, pyright-boltz, pyright-protenix

.pre-commit-config.yaml:

default_language_version:
  python: python3.12
minimum_pre_commit_version: "3.5.0"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.23.1

      - id: pyright-boltz
        name: pyright (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev pyright "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix)

      - id: pyright-protenix
        name: pyright (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev pyright "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.7
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --verbose]
      # Run the formatter.
      - id: ruff-format
        args: [ --verbose]

Addressing k.chrispen's f/b on PR 89
  scripts/run_and_process_phenix_clashscore.py
  src/sampleworks/eval/bond_angle_and_length_outlier_eval_script.py
  src/sampleworks/eval/lddt_evaluation_script.py
Due: pyright-boltz

Adding script to report bond angle and length outliers
  pyproject.toml
  src/sampleworks/eval/bond_angle_and_length_outlier_eval_script.py
Due: sort_pyproject, pyright-boltz

Addressing CodeRabbit f/b on PR 89
  src/sampleworks/eval/bond_angle_and_length_outlier_eval_script.py
Due: pyright-boltz

First version of bond angle/length evaluation script using peppr
  pyproject.toml
  src/sampleworks/eval/bond_angle_and_length_outlier_eval_script.py
Due: sort_pyproject, pyright-boltz

Add GitHub Actions workflow for ECR image builds
  .github/workflows/docker.yml
Due: none

fixing the saving issues
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

RF3 and Protenix working I think
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz, pyright-protenix

cleanup
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/utils/atom_array_utils.py
Due: pyright-boltz

protenix needs AtomArray outside TYPE_CHECKING
  src/sampleworks/models/protenix/wrapper.py
Due: pyright-protenix

Boltz fixed and scalers updated
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/boltz/wrapper.py
Due: pyright-boltz

addressing coderabbit CR comments on patch
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/atom_array_utils.py
Due: pyright-boltz

fix: copy source files before pixi install for editable package
  Dockerfile
Due: none

RF3 has full array, deal with that during saving
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

Add Dockerfile for multi-stage sampleworks container builds
  .dockerignore
  Dockerfile
Due: none

feat: unified Docker container with all environments and entrypoint script
  Dockerfile
  docker-entrypoint.sh
  src/sampleworks/core/forward_models/xray/real_space_density_deps/ops/__init__.py
Due: none

Dockerfile for sampleworks
  Dockerfile
  docker-entrypoint.sh
  run_all_models.sh
  run_grid_search.py
Due: pyright-boltz

updated filter_common_atoms to handle offset resids, added more tests
  src/sampleworks/utils/atom_array_utils.py
  tests/utils/conftest.py
  tests/utils/test_atom_array_utils.py
Due: pyright-boltz

addressing coderabbit fb on shell scripts and id mismatch in github workflow
  .github/workflows/docker.yml
  run_all_models.sh
  run_grid_search.py
Due: pyright-boltz

Switch Docker workflow from ECR to Docker Hub (diffuseproject org)
  .github/workflows/docker.yml
Due: none

address PR f/b, add tests, fix uniform occupancy bug
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/utils/atom_array_utils.py
  tests/utils/test_atom_array_utils.py
Due: pyright-boltz

add ligand, water stripping and save the selected atoms as CIF
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/utils/atom_array_utils.py
Due: pyright-boltz

fix: maps are now aligned due to CCP4 saving throwing away origin
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/utils/density_utils.py
Due: pyright-boltz

WIP: feat(samplers): add Sampler protocol and AF3EDMSampler implementation
  .pre-commit-config.yaml
  src/sampleworks/core/samplers/__init__.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/samplers/protocol.py
Due: pyright-boltz

avoid circular import in import_utils and conftest
  src/sampleworks/utils/__init__.py
  tests/models/test_model_wrapper_protocol.py
Due: pyright-boltz

WIP: feat(rewards): add rewards module with utility functions
  src/sampleworks/core/rewards/__init__.py
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/core/rewards/utils.py
Due: pyright-boltz

WIP: feat(eval): add structure evaluation utilities
  src/sampleworks/eval/structure_utils.py
Due: pyright-boltz

WIP: refactor(models): rename ModelWrapper protocol and refactor Boltz wrapper
  src/sampleworks/models/af3/__init__.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/chai/__init__.py
  src/sampleworks/models/model_wrapper_protocol.py
  src/sampleworks/models/protocol.py
  src/sampleworks/models/protpardelle/__init__.py
  tests/conftest.py
  tests/models/boltz/test_boltz_wrapper.py
  tests/models/test_model_wrapper_protocol.py
Due: pyright-boltz

make basic atom array fixtures more realistic
  tests/conftest.py
Due: pyright-boltz

updated model definitions to fit new protocol, small update in boltz to address MSAs where the multiple chains have the same MSA
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz, pyright-protenix

add fixtures for parametrizing many protocol implementations
  tests/conftest.py
Due: pyright-boltz

protocol updates to accomodate FKSteering
  pyproject.toml
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/samplers/protocol.py
Due: sort_pyproject, pyright-boltz

updating EDMSampler and step output spec
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/samplers/protocol.py
Due: pyright-boltz

WIP: add FKSteering updated, needs testing still
  src/sampleworks/core/scalers/fk_steering.py
Due: pyright-boltz

chore: remove empty processing module placeholder files
  src/sampleworks/core/processing/__init__.py
  src/sampleworks/core/processing/cryoem.py
  src/sampleworks/core/processing/nmr.py
  src/sampleworks/core/processing/xray/__init__.py
  src/sampleworks/core/processing/xray/bragg.py
  src/sampleworks/core/processing/xray/density.py
  src/sampleworks/core/processing/xray/diffuse.py
Due: pyright-boltz

WIP: feat(scalers): add ScoreScaler and TrajectoryScaler protocols with implementations
  src/sampleworks/core/scalers/__init__.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/protocol.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/core/scalers/score_scalers.py
Due: pyright-boltz

WIP: add basic RewardFunctionProtocol so the future updates to that will be more contained
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/core/rewards/utils.py
  src/sampleworks/core/samplers/protocol.py
  src/sampleworks/core/scalers/__init__.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/protocol.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/conftest.py
  tests/rewards/test_real_space_density_reward.py
  tests/utils/test_atom_array_utils.py
Due: pyright-boltz

add method to TrajectorySampler to verify schedule works with it
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/core/samplers/protocol.py
Due: pyright-boltz

WIP: feat(utils): add framework utilities for JAX/Torch interop and frame transforms
  src/sampleworks/utils/frame_transforms.py
  src/sampleworks/utils/framework_utils.py
Due: pyright-boltz

WIP: testing improvements, will improve scaler coverage in future PR
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/eval/__init__.py
  tests/integration/__init__.py
  tests/integration/test_pipeline_integration.py
  tests/metrics/__init__.py
  tests/mocks/__init__.py
  tests/mocks/model_wrappers.py
  tests/mocks/rewards.py
  tests/mocks/samplers.py
  tests/mocks/scalers.py
  tests/mocks/trajectory_scalers.py
  tests/models/__init__.py
  tests/models/boltz/test_boltz_wrapper.py
  tests/models/test_model_wrapper_protocol.py
  tests/rewards/__init__.py
  tests/utils/__init__.py
  tests/utils/test_framework_utils.py
Due: sort_pyproject, pyright-boltz

modelwrapper fixes to help pass tests, protenix still is goofy
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/structure_processing.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz, pyright-protenix
