Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

sort_pyproject:
  name: sort pyproject.toml
  entry: toml-sort
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  language: python
  additional_dependencies:
  - toml-sort==0.24.3

ty-boltz:
  name: ty (boltz environment)
  entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-rf3:
  name: ty (rf3 environment)
  entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-protenix:
  name: ty (protenix environment)
  entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

fix(cr): revert to check empty or None checkpoint in guidance_script_utils as well
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

feat(ci): automated semantic release and versioned Docker tags
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG.md
  README.md
  pyproject.toml
Due: sort_pyproject

feat(args): standardized model_checkpoint arg
  run_grid_search.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

fix(tests): include (basic) tests for the new checkpoint validation
  tests/utils/test_guidance_script_arguments.py
Due: ty-boltz

chore(cleanup): remove checkpoint_utils.py
  src/sampleworks/utils/checkpoint_utils.py
Due: ty-boltz

fix(reward): remove usage of reward_param_mask, we enforce that the reward must be computable on the whole model output.
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/integration/test_mismatch_integration.py
  tests/integration/test_pipeline_integration.py
  tests/utils/test_density_utils.py
Due: ty-boltz

fix(ty): removing remaining pyright ignores
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/utils/atom_array_utils.py
Due: ty-boltz

chore(cr): remove redundant test code and address final cr nits
  src/sampleworks/models/rf3/wrapper.py
  tests/integration/test_mismatch_integration.py
  tests/integration/test_pipeline_integration.py
Due: ty-boltz, ty-rf3

fix(rf3): fixed bug where nan atoms were still appearing in the model_atom_array, causing indexing errors downstream
  src/sampleworks/models/rf3/wrapper.py
Due: ty-rf3

Apply suggestion to quote docker image name from @Copilot
  run_all_models.sh
Due: none

fix: use checkpoints base image from Docker Hub for CI builds
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
  run_all_models.sh
Due: none

fix(eval): update eval_dataclasses.py to use the new occupancy_to_str
  src/sampleworks/eval/eval_dataclasses.py
Due: ty-boltz

chore: remove old analysis marimo notebook
  src/sampleworks/eval/rscc_grid_search_analysis.py
Due: ty-boltz

feat(altlocs): update all usage of only two altlocs to handle a dict of altlocs and associated occupancies
  scripts/eval/lddt_evaluation_script.py
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/eval/occupancy_utils.py
  src/sampleworks/eval/structure_utils.py
  tests/eval/test_structure_utils.py
Due: ty-boltz

fix(rscc_notebook): update the rscc notebook to use all the utils we have
  src/sampleworks/eval/rscc_grid_search_analysis.py
Due: ty-boltz

fix(cr): address coderabbit and @marcuscollins fb
  scripts/eval/lddt_evaluation_script.py
  src/sampleworks/eval/occupancy_utils.py
  src/sampleworks/eval/structure_utils.py
Due: ty-boltz

chore(occupancy_utils): generalize occupancy_to_str
  src/sampleworks/eval/occupancy_utils.py
Due: ty-boltz

fix(cr): addressed coderabbit final comment
  scripts/eval/rscc_grid_search_script.py
Due: ty-boltz

perf(lddt): revert itertools change (sorry!)
  scripts/eval/lddt_evaluation_script.py
Due: ty-boltz

Use pre-built checkpoints base image instead of downloading/copying checkpoints
  .github/workflows/docker.yml
  Dockerfile
  run_all_models.sh
Due: none

fix: auto-resolve checkpoint paths from baked-in /checkpoints/ with legacy fallback
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

fix: auto-pull latest Docker image before running jobs
  run_all_models.sh
Due: none

fix(cr): final coderabbit comments
  scripts/eval/lddt_evaluation_script.py
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/eval/occupancy_utils.py
Due: ty-boltz

refactor(eval): rename Experiment/ExperimentList to Trial/TrialList
  run_grid_search.py
  scripts/eval/bond_geometry_eval.py
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
  scripts/eval/run_and_process_phenix_clashscore.py
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/eval/grid_search_eval_utils.py
Due: ty-boltz

test(eval): add simple tests for Trial and TrialList data classes
  tests/eval/test_eval_dataclasses.py
Due: ty-boltz

style(eval): remove underscore prefix from local variable names
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/eval/eval_dataclasses.py
Due: ty-boltz

fix(eval): guard progress log against skipped trials in RSCC loop
  scripts/eval/rscc_grid_search_script.py
Due: ty-boltz

fix(eval): use args.target_filename in eval scripts instead of hardcoded refined.cif
  scripts/eval/bond_geometry_eval.py
  scripts/eval/lddt_evaluation_script.py
Due: ty-boltz

test(eval): update tests to use altloc_occupancies instead of occ_a
  tests/eval/test_eval_dataclasses.py
Due: ty-boltz

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ty-boltz: any of: \.py$, but not: (real_space_density|protenix|rf3|rfd3)
  ty-rf3: any of: (rf3|rfd3) and \.py$
  ty-protenix: any of: protenix and \.py$
