Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, pyright-boltz, pyright-protenix

sort_pyproject:
  name: sort pyproject.toml
  entry: toml-sort
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  language: python
  additional_dependencies:
  - toml-sort==0.23.1

pyright-boltz:
  name: pyright (boltz environment)
  entry: bash -c 'pixi run -e boltz-dev pyright "$@"' --
  language: system
  pass_filenames: true

pyright-protenix:
  name: pyright (protenix environment)
  entry: bash -c 'pixi run -e protenix-dev pyright "$@"' --
  language: system
  pass_filenames: true

fix import tests for RF3
  src/sampleworks/utils/__init__.py
  src/sampleworks/utils/imports.py
  src/sampleworks/utils/torch_utils.py
  tests/test_imports.py
Due: pyright-boltz

Addressing Copilot f/b on PR 41
  src/sampleworks/metrics/lddt.py
Due: pyright-boltz

Fixing a circular import that only comes up when running Protenix
  src/sampleworks/utils/__init__.py
Due: pyright-boltz

Initial commit to bring in metrics from RosettaCommons/foundry
  src/sampleworks/utils/__init__.py
  src/sampleworks/utils/torch_utils.py
Due: pyright-boltz

torch utils fix from copilot
  src/sampleworks/utils/torch_utils.py
Due: pyright-boltz

[WIP] adding various lDDT metrics: for selections and residue level
  src/sampleworks/eval/rscc_grid_search_script.py
  src/sampleworks/metrics/lddt.py
  src/sampleworks/metrics/metric_utils.py
  src/sampleworks/utils/atom_array_utils.py
Due: pyright-boltz

Adding end-to-end tests for lDDT metrics
  src/sampleworks/metrics/lddt.py
  tests/utils/test_atom_array_utils.py
Due: pyright-boltz

Adding a very simple global MSA manager that acts as an interface to a cache directory. Manager works, still untested with Boltz generation. Not used yet for RF3, Protenix, AF3
  src/sampleworks/utils/mmseqs2.py
Due: pyright-boltz

[WIP] working MSA caching for Boltz-1/2, saving a3m files for RF3 has a bug where it is saving the CSV not a3m
  README.md
  src/sampleworks/utils/mmseqs2.py
Due: pyright-boltz

Adding a very simple global MSA manager that acts as an interface to a cache directory. Manager works, still untested with Boltz generation. Not used yet for RF3, Protenix, AF3
  pyproject.toml
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/utils/mmseqs2.py
  src/sampleworks/utils/msa.py
Due: sort_pyproject, pyright-boltz

[WIP] working MSA caching for Boltz-1/2, saving a3m files for RF3 has a bug where it is saving the CSV not a3m
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/mmseqs2.py
  src/sampleworks/utils/msa.py
Due: pyright-boltz

[WIP] MSA caching now working for RF3 and Boltz1/2, starting to work on Protenix
  src/sampleworks/models/protenix/structure_processing.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/utils/mmseqs2.py
  src/sampleworks/utils/msa.py
Due: pyright-boltz, pyright-protenix

[WIP] working version of MSA caching for Protenix, need to confirm for all predictors
  new_run_grid_search.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/guidance_script_utils.py
  src/sampleworks/utils/imports.py
  src/sampleworks/utils/msa.py
Due: pyright-boltz, pyright-protenix

MSA Caching for RF3, BOLTZ1/2, PROTENIX; added test script to run guidance for all four models
  new_run_grid_search.py
  pyproject.toml
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/msa.py
Due: sort_pyproject, pyright-boltz

[WIP] initial exploration and refactoring to create a script to report LDDT metrics on grid search results
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/eval/lddt_evaluation_script.py
  src/sampleworks/eval/rscc_grid_search_analysis.py
  src/sampleworks/eval/rscc_grid_search_script.py
  src/sampleworks/eval/structure_utils.py
Due: pyright-boltz

Clarified method naming and added new method to load structures from a ProteinConfig object. Loading full structures with one choice for altloc now looks for default altloc ids rather than occ==1.0
  src/sampleworks/eval/lddt_evaluation_script.py
  src/sampleworks/eval/rscc_grid_search_script.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/utils/atom_array_utils.py
Due: pyright-boltz

[WIP] Adding methods to do Naive Bayes-like 'clustering' on structures wrt reference altlocs
  pyproject.toml
  src/sampleworks/eval/lddt_evaluation_script.py
  src/sampleworks/metrics/lddt.py
Due: sort_pyproject, pyright-boltz

Working version to output first LDDT statistics over all grid search results
  pyproject.toml
  src/sampleworks/data/protein_configs.csv
  src/sampleworks/eval/eval_dataclasses.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/eval/lddt_evaluation_script.py
  src/sampleworks/metrics/lddt.py
  src/sampleworks/utils/atom_array_utils.py
Due: sort_pyproject, pyright-boltz

Updating tests after changes to atom array and lddt utils
  src/sampleworks/metrics/lddt.py
  tests/metrics/test_lddt_metrics.py
  tests/utils/test_atom_array_utils.py
Due: pyright-boltz

Bug fix to properly stack the AtomArrays that result from finding altlocs
  src/sampleworks/utils/atom_array_utils.py
Due: pyright-boltz

Fixing a bug that passed through incorrect altlocs from select_altloc; addressing Copilot f/b
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/eval/lddt_evaluation_script.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/utils/atom_array_utils.py
  tests/utils/test_atom_array_utils.py
Due: pyright-boltz

Addressing copilot & k.chrispens f/b on PR #52
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/mmseqs2.py
  src/sampleworks/utils/msa.py
Due: pyright-boltz, pyright-protenix

Bug fix for running Boltz with MSAManager
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

MSA Caching for RF3, BOLTZ1/2, PROTENIX; added test script to run guidance for all four models
  new_run_grid_search.py
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/msa.py
Due: pyright-boltz

slight updates to type hints and inferring 0 occupancy if not all labels are provided
  src/sampleworks/eval/generate_synthetic_density.py
Due: pyright-boltz

sampleworks style synthetic density generation
  src/sampleworks/eval/generate_synthetic_density.py
Due: pyright-boltz

address PR 45 comments
  src/sampleworks/core/rewards/real_space_density.py
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/elements.py
Due: pyright-boltz

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  pyright-boltz: any of: \.py$, but not: (real_space_density|protenix)
  pyright-protenix: any of: protenix and \.py$
