Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

sort_pyproject:
  name: sort pyproject.toml
  entry: toml-sort
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  language: python
  additional_dependencies:
  - toml-sort==0.24.3

ty-boltz:
  name: ty (boltz environment)
  entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-rf3:
  name: ty (rf3 environment)
  entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-protenix:
  name: ty (protenix environment)
  entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

feat: generate synthetic sf using atomarray. refactored assign_occupancies function
  src/sampleworks/eval/generate_synthetic_sf.py
  src/sampleworks/utils/atom_array_utils.py
Due: ty-boltz

refactor(density): remove duplicate assign_occupancies and import from utils instead
  src/sampleworks/eval/generate_synthetic_density.py
Due: ty-boltz

test(sfc): add atomarray_to_gemmi tests using 6b8x
  src/sampleworks/eval/generate_synthetic_sf.py
  tests/eval/test_generate_synthetic_sf.py
Due: ty-boltz

refactor: extract shared structure loading in generate synthetic reward into synthetic_utils
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/generate_synthetic_sf.py
  src/sampleworks/eval/synthetic_utils.py
  src/sampleworks/utils/atom_array_utils.py
  tests/eval/test_generate_synthetic_sf.py
Due: ty-boltz

feat(runs): add sampleworks-runs preset orchestrator
  AGENTS.md
  README.md
  pyproject.toml
  src/sampleworks/runs/__init__.py
  src/sampleworks/runs/cli.py
  src/sampleworks/runs/loader.py
  src/sampleworks/runs/presets/all_models.toml
  src/sampleworks/runs/presets/protenix_dual.toml
  src/sampleworks/runs/presets/rf3_partial.toml
  src/sampleworks/runs/presets/rf3_partial_chiral_off.toml
  src/sampleworks/runs/presets/rf3_protenix.toml
  src/sampleworks/runs/runner.py
  src/sampleworks/runs/schema.py
  tests/runs/__init__.py
  tests/runs/test_cli.py
  tests/runs/test_loader.py
  tests/runs/test_runner.py
Due: sort_pyproject, ty-boltz

style(runs): fix ruff lint findings
  src/sampleworks/runs/loader.py
  src/sampleworks/runs/runner.py
  src/sampleworks/runs/schema.py
  tests/runs/test_cli.py
  tests/runs/test_loader.py
  tests/runs/test_runner.py
Due: ty-boltz

style(runs): apply ruff format
  tests/runs/test_cli.py
Due: ty-boltz

fix(runs): address CodeRabbit review findings
  src/sampleworks/runs/cli.py
  src/sampleworks/runs/loader.py
  src/sampleworks/runs/presets/rf3_partial_chiral_off.toml
  src/sampleworks/runs/runner.py
  tests/runs/test_loader.py
Due: ty-boltz

style(runs): NumPy-style docstrings + frozen dataclasses
  src/sampleworks/runs/cli.py
  src/sampleworks/runs/loader.py
  src/sampleworks/runs/runner.py
  src/sampleworks/runs/schema.py
Due: ty-boltz

fix(runs): point presets at /mnt/diffuse-shared paths
  src/sampleworks/runs/presets/all_models.toml
  src/sampleworks/runs/presets/protenix_dual.toml
  src/sampleworks/runs/presets/rf3_partial.toml
  src/sampleworks/runs/presets/rf3_partial_chiral_off.toml
  src/sampleworks/runs/presets/rf3_protenix.toml
  tests/runs/test_loader.py
  tests/runs/test_runner.py
Due: ty-boltz

fix(runs): align preset paths with actl_setup_sampleworks_paths.sh
  README.md
  src/sampleworks/runs/presets/all_models.toml
  src/sampleworks/runs/presets/protenix_dual.toml
  src/sampleworks/runs/presets/rf3_partial.toml
  src/sampleworks/runs/presets/rf3_partial_chiral_off.toml
  src/sampleworks/runs/presets/rf3_protenix.toml
  tests/runs/test_loader.py
  tests/runs/test_runner.py
Due: ty-boltz

fix(runs): mkdir the per-job --output-dir before launching
  src/sampleworks/runs/runner.py
  tests/runs/test_runner.py
Due: ty-boltz

fix: quick patch to enforce that the ref chain is the one assigned to the cif file
  .gitignore
  scripts/patch_output_cif_files.py
Due: ty-boltz

fix: quick patch to enforce that the ref chain is the one assigned to… (#237)
  .gitignore
  scripts/patch_output_cif_files.py
Due: ty-boltz

0.6.3
  pixi.lock
  pyproject.toml
Due: sort_pyproject

fix(runs): make ACTL sampleworks image self-contained
  .actlignore
  Dockerfile
  README.md
  run_all_models.sh
  run_grid_search.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/runs/presets/all_models.toml
  src/sampleworks/runs/runner.py
  src/sampleworks/runs/schema.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/runs/conftest.py
  tests/runs/test_loader.py
  tests/runs/test_runner.py
Due: ty-boltz

fix(runs): align experiment entrypoint and boltz tests
  Dockerfile
  GRID_SEARCH.md
  README.md
  run_experiments
  run_experiments.sh
  tests/models/boltz/test_boltz_wrapper.py
Due: ty-boltz

fix(runs): prefer synced workspace source
  Dockerfile
  GRID_SEARCH.md
  README.md
  docker-entrypoint.sh
  run_experiments
  run_grid_search.py
  src/sampleworks/runs/runner.py
  tests/runs/test_runner.py
Due: ty-boltz

fix(runs): ignore legacy app source default
  Dockerfile
  run_experiments
Due: none

docs(runs): use pixi-with-checkpoints latest image
  README.md
Due: none

fix(runs): refuse runtime pixi reinstalls
  Dockerfile
  run_experiments
  src/sampleworks/runs/runner.py
Due: ty-boltz

fix(runs): skip pixi prepare in baked runtime
  run_experiments
Due: none

fix(runs): require baked pixi envs in ACTL
  README.md
  run_experiments
  src/sampleworks/runs/cli.py
  src/sampleworks/runs/runner.py
  tests/runs/test_runner.py
Due: ty-boltz

feat(runs): simplify experiment target syntax
  README.md
  run_experiments
  src/sampleworks/runs/cli.py
  src/sampleworks/runs/presets/full_8gpu.toml
  src/sampleworks/runs/runner.py
  src/sampleworks/runs/schema.py
  tests/runs/test_cli.py
  tests/runs/test_loader.py
  tests/runs/test_runner.py
Due: ty-boltz

feat(runs): move presets to experiments directory
  Dockerfile
  README.md
  experiments/full_8gpu.toml
  experiments/protenix_dual.toml
  experiments/rf3_partial.toml
  experiments/rf3_partial_chiral_off.toml
  experiments/rf3_protenix.toml
  pyproject.toml
  src/sampleworks/runs/cli.py
  src/sampleworks/runs/loader.py
  src/sampleworks/runs/schema.py
  tests/runs/test_cli.py
  tests/runs/test_loader.py
Due: sort_pyproject, ty-boltz

fix(runs): clarify CUDA worker GPU logging
  run_grid_search.py
Due: ty-boltz

docs(runs): improve docstring coverage
  run_grid_search.py
  src/sampleworks/runs/loader.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/runs/test_cli.py
  tests/runs/test_loader.py
  tests/runs/test_runner.py
Due: ty-boltz

docs(runs): add ACTL run_experiments how-to
  README.md
Due: none

fix(runs): address lint and runner review issues
  Dockerfile
  run_experiments
  run_grid_search.py
  src/sampleworks/runs/cli.py
  src/sampleworks/runs/loader.py
  src/sampleworks/runs/runner.py
  src/sampleworks/runs/schema.py
  tests/runs/conftest.py
  tests/runs/test_cli.py
  tests/runs/test_loader.py
Due: ty-boltz

feat(runs): add standalone model presets
  README.md
  experiments/boltz.toml
  experiments/boltz1.toml
  experiments/boltz2.toml
  experiments/boltz2_md.toml
  experiments/boltz2_xrd.toml
  experiments/protenix.toml
  experiments/rf3.toml
  src/sampleworks/runs/cli.py
  tests/runs/test_cli.py
  tests/runs/test_loader.py
Due: ty-boltz

feat(runs): auto-assign preset GPUs
  README.md
  experiments/boltz.toml
  experiments/boltz1.toml
  experiments/boltz2.toml
  experiments/boltz2_md.toml
  experiments/boltz2_xrd.toml
  experiments/full_8gpu.toml
  experiments/protenix.toml
  experiments/protenix_dual.toml
  experiments/rf3.toml
  experiments/rf3_partial.toml
  experiments/rf3_partial_chiral_off.toml
  experiments/rf3_protenix.toml
  src/sampleworks/runs/cli.py
  src/sampleworks/runs/loader.py
  src/sampleworks/runs/runner.py
  src/sampleworks/runs/schema.py
  tests/runs/test_cli.py
  tests/runs/test_runner.py
Due: ty-boltz

fix(runs): clear GPU override counterpart
  src/sampleworks/runs/loader.py
  tests/runs/test_loader.py
Due: ty-boltz

ci(docker): tag Harbor sampleworks image
  .github/workflows/docker.yml
Due: none

fix(runs): address ACTL review feedback
  README.md
  run_experiments
  run_grid_search.py
  src/sampleworks/models/boltz/wrapper.py
Due: ty-boltz

docs(runs): document runtime pixi opt-in
  README.md
  run_experiments
  src/sampleworks/runs/runner.py
Due: ty-boltz

ACTL sampleworks image + run_experiments script (#240)
  .actlignore
  .github/workflows/docker.yml
  AGENTS.md
  Dockerfile
  GRID_SEARCH.md
  README.md
  docker-entrypoint.sh
  experiments/boltz.toml
  experiments/boltz1.toml
  experiments/boltz2.toml
  experiments/boltz2_md.toml
  experiments/boltz2_xrd.toml
  experiments/full_8gpu.toml
  experiments/protenix.toml
  experiments/protenix_dual.toml
  experiments/rf3.toml
  experiments/rf3_partial.toml
  experiments/rf3_partial_chiral_off.toml
  experiments/rf3_protenix.toml
  pyproject.toml
  run_experiments
  run_experiments.sh
  run_grid_search.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/runs/__init__.py
  src/sampleworks/runs/cli.py
  src/sampleworks/runs/loader.py
  src/sampleworks/runs/runner.py
  src/sampleworks/runs/schema.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/models/boltz/test_boltz_wrapper.py
  tests/runs/__init__.py
  tests/runs/conftest.py
  tests/runs/test_cli.py
  tests/runs/test_loader.py
  tests/runs/test_runner.py
Due: sort_pyproject, ty-boltz

refactor: drop redundant inner write of job_metadata.json
  src/sampleworks/utils/guidance_script_utils.py
  tests/utils/conftest.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

feat: append JobResult timing and status to job_metadata.json (#230)
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/utils/conftest.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

0.7.0
  pyproject.toml
Due: sort_pyproject

chore(docker): split public and Astera images
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
  Dockerfile.astera
  GRID_SEARCH.md
  README.md
  docker-entrypoint.sh
  run_experiments
  src/sampleworks/runs/runner.py
Due: ty-boltz

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ty-boltz: any of: \.py$, but not: (real_space_density|protenix|rf3|rfd3)
  ty-rf3: any of: (rf3|rfd3) and \.py$
  ty-protenix: any of: protenix and \.py$
