Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.24.3

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--verbose, --fix]
      # Run the formatter.
      - id: ruff-format
        args: [--verbose]

  - repo: local
    hooks:
      - id: ty-boltz
        name: ty (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix|rf3|rfd3)
        priority: 50

      - id: ty-rf3
        name: ty (rf3 environment)
        entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: (rf3|rfd3)
        priority: 50

      - id: ty-protenix
        name: ty (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix
        priority: 50

feat(synthetic): validate gemmi hierarchy before atom array conversion
  src/sampleworks/synthetic/synthetic_utils.py
Due: ty-boltz

test(synthetic): add gemmi hierarchy validation tests in atomarray_to_gemmi
  src/sampleworks/synthetic/synthetic_utils.py
  tests/synthetic/test_generate_synthetic_sf.py
Due: ty-boltz

fix(synthetic): validate gemmi structure hierarchy
  src/sampleworks/synthetic/synthetic_utils.py
  tests/synthetic/test_generate_synthetic_sf.py
Due: ty-boltz

fix(synthetic): reject residues whose atoms disagree on hetero
  src/sampleworks/synthetic/synthetic_utils.py
  tests/synthetic/test_generate_synthetic_sf.py
Due: ty-boltz

feat(synthetic): validate atom array hierarchy before gemmi conversion (#351)
  src/sampleworks/synthetic/synthetic_utils.py
  tests/synthetic/test_generate_synthetic_sf.py
Due: ty-boltz

Enabling ext by default
  docker/astera/install-ext-shell-hooks.sh
  docker/astera/sampleworks-ext-shell.sh
Due: none

review fixes
  Dockerfile.astera
  docker/astera/sampleworks-ext-shell.sh
Due: none

Enabling ext by default (#399)
  Dockerfile.astera
  docker/astera/install-ext-shell-hooks.sh
  docker/astera/sampleworks-ext-shell.sh
Due: none

fix(synthetic): reject --altlocs-as-models on multi-model input
  src/sampleworks/synthetic/generate_synthetic_sf_lunus.py
  tests/synthetic/test_generate_synthetic_sf_lunus.py
Due: ty-boltz

docs(deps): trim the lunus comment block to match the file
  .github/workflows/relock.yml
  pyproject.toml
Due: sort_pyproject

chore(deps): pin lunus to the v0.2.0 tag
  pyproject.toml
Due: sort_pyproject

fix(scripts): scope the force-reinstall, and stop duplicating the pin
  scripts/install_lunus.sh
Due: none

docs(rewards): suggest lunus.sf as an engine for the structure-factor reward
  SF_REWARD_LUNUS_BACKEND.md
Due: none

feat(synthetic): forward calculation of Bragg and diffuse via lunus.sf
  DIFFUSE_SCATTERING_PLAN.md
  scripts/install_lunus.sh
  src/sampleworks/core/forward_models/xray/lunus_sf.py
  src/sampleworks/synthetic/generate_synthetic_sf_lunus.py
  tests/synthetic/test_generate_synthetic_sf_lunus.py
Due: ty-boltz

docs(diffuse): correct the dependency-wiring notes after lunus was declared
  DIFFUSE_SCATTERING_PLAN.md
  scripts/install_lunus.sh
Due: none

chore(deps): declare lunus and relock (#383)
  pyproject.toml
Due: sort_pyproject

test(runs): harden RF3 argv generation (#391)
  tests/runs/test_runner.py
Due: ty-boltz

refactor(synthetic): relocate density generation (#389)
  src/sampleworks/synthetic/generate_synthetic_density.py
  tests/synthetic/test_generate_synthetic_density.py
Due: ty-boltz

test(utils): pin that resolve_mixed_hetatm_atom_altlocs always returns a Path
  tests/utils/test_cif_utils.py
Due: ty-boltz

fix(utils): clean temporary altloc CIFs (#390)
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/utils/test_cif_utils.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

refactor(utils): move structure_utils out of eval
  AGENTS.md
  scripts/eval/classify_altloc_regions.py
  scripts/eval/find_max_rmsd_subsegment.py
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/rmsd_evaluation_script.py
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/structure_utils.py
  tests/conftest.py
  tests/eval/conftest.py
  tests/integration/test_mismatch_integration.py
  tests/integration/test_pipeline_integration.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
  tests/synthetic/test_generate_synthetic_sf.py
  tests/utils/test_structure_utils.py
Due: ty-boltz

docs(diffuse): correct the plan's pin references after the v0.2.0 release
  DIFFUSE_SCATTERING_PLAN.md
Due: none

feat(guidance): guide on a diffuse target from the command line
  scripts/diffuse_recovery_test.py
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

feat(rewards): differentiable combined Bragg and diffuse target
  src/sampleworks/core/rewards/diffuse_bragg.py
  tests/rewards/test_diffuse_bragg_reward.py
Due: ty-boltz

feat(eval): add option to further restrict atoms in the RSCC calculation
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/eval/grid_search_eval_utils.py
Due: ty-boltz

feat(rewards): add a prepare hook to the reward protocol and scalers (#373)
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/eval/structure_utils.py
  tests/integration/test_pipeline_integration.py
  tests/mocks/__init__.py
  tests/mocks/rewards.py
  tests/rewards/test_prepare_hook.py
  tests/rewards/test_reward_function_contract.py
Due: ty-boltz

feat(rewards): prepare() takes RewardInputs, not an atom array
  AGENTS.md
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/rewards/structure_factor.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/eval/structure_utils.py
  tests/integration/test_mismatch_integration.py
  tests/integration/test_pipeline_integration.py
  tests/mocks/rewards.py
  tests/rewards/conftest.py
  tests/rewards/test_prepare_hook.py
  tests/rewards/test_reward_inputs.py
  tests/rewards/test_structure_factor_reward.py
Due: ty-boltz

fix(rewards): CompositeReward.prepare takes RewardInputs, matching #373
  src/sampleworks/core/rewards/composite.py
  tests/rewards/test_composite.py
  tests/rewards/test_reward_build_integration.py
Due: ty-boltz

test(utils): port #390's temporary-CIF tests to load_guidance_structure
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz
