Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, pyright-boltz, pyright-protenix

.pre-commit-config.yaml:

default_language_version:
  python: python3.12
minimum_pre_commit_version: "3.5.0"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.23.1

      - id: pyright-boltz
        name: pyright (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev pyright "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix)

      - id: pyright-protenix
        name: pyright (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev pyright "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
        types_or: [python, pyi, jupyter]
      - id: ruff
        args: ["--fix"]
        types_or: [python, pyi, jupyter]

Partial refactor to test whether I can run in the current paradigm with global variables
  examples/boltz2_pure_guidance.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

Pulling out common elements of model loading, structure loading, saving output from example scripts
  examples/boltz1_fk_steering.py
  examples/boltz1_pure_guidance.py
  examples/boltz2_fk_steering.py
  examples/boltz2_pure_guidance.py
  examples/protenix_fk_steering.py
  examples/protenix_pure_guidance.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz, pyright-protenix

[WIP] refactoring and writing a version to re-use GPU-loaded models
  src/sampleworks/eval/run_grid_search.py
  src/sampleworks/utils/grid_search_utils.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

[WIP] first version that holds model in GPU memory for more than one guidance run. Needs better logging and perf improvements.
  examples/run_guidance_pipeline.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/eval/run_grid_search.py
  src/sampleworks/models/boltz/wrapper.py
  src/sampleworks/models/protenix/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz, pyright-protenix

[WIP] Working version of model re-use for grid search script; needs a little better log handling
  examples/run_guidance_pipeline.py
  run_grid_search.py
  src/sampleworks/eval/run_grid_search.py
Due: pyright-boltz

Working version of grid search script that re-uses the model
  examples/boltz2_pure_guidance.py
  new_run_grid_search.py
  src/sampleworks/utils/grid_search_utils.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

refactored the optimization step to start towards abstracting out samplers
  src/sampleworks/core/samplers/af3.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
Due: pyright-boltz

addressing copilot comments on docstring and tests
  src/sampleworks/core/samplers/af3.py
  tests/samplers/af3.py
Due: pyright-boltz

Initial commit to bring in metrics from RosettaCommons/foundry
  .pre-commit-config.yaml
  pyproject-hatch.toml
  pyproject.toml
  src/sampleworks/__init__.py
  src/sampleworks/metrics/__init__.py
  src/sampleworks/metrics/lddt.py
  src/sampleworks/metrics/metadata.py
  src/sampleworks/metrics/metric.py
  src/sampleworks/metrics/metric_utils.py
  src/sampleworks/metrics/sidechain_metrics.py
  src/sampleworks/utils/__init__.py
  src/sampleworks/utils/torch_utils.py
Due: sort_pyproject, pyright-boltz

Addressing PR 25 comments
  examples/boltz2_pure_guidance.py
  new_run_grid_search.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

[WIP] working version using processes, but hitting strange tensor size errors
  src/sampleworks/eval/run_grid_search.py
  src/sampleworks/utils/checkpoint_utils.py
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

rf3 wrapper tested more
  src/sampleworks/models/rf3/wrapper.py
  src/sampleworks/utils/imports.py
  tests/conftest.py
  tests/models/test_model_wrapper_protocol.py
Due: pyright-boltz

initial rf3 wrapper; needs testing
  .pre-commit-config.yaml
  pyproject.toml
  src/sampleworks/models/rf3/__init__.py
  src/sampleworks/models/rf3/wrapper.py
Due: sort_pyproject, pyright-boltz

remove device arg to allow fabric to choose device
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz

fixed in-place operations in local install, clone k-chrispens fork of foundry
  pyproject.toml
Due: sort_pyproject

pure_guidance and fk_steering scripts running
  examples/rf3_fk_steering.py
  examples/rf3_pure_guidance.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
Due: pyright-boltz

add ability to pass MSA to RF3 through command line
  examples/rf3_fk_steering.py
  examples/rf3_pure_guidance.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz

denoise step is saved after alignment
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz

gitignore to clean up tracked files
  .gitignore
Due: none

modify example scripts in alignment with mdc refactor
  examples/rf3_fk_steering.py
  examples/rf3_pure_guidance.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/guidance_script_arguments.py
Due: pyright-boltz

grid search scripts can use RF3
  new_run_grid_search.py
  run_grid_search.py
Due: pyright-boltz

RF3 added in utils
  src/sampleworks/utils/checkpoint_utils.py
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz

add device property for the get_model_and_device function in guidance_script_utils, ignore pyright in deleting cached_representations
  src/sampleworks/core/scalers/pure_guidance.py
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz

boltz test was broken, now passes (should rewrite these tests in another PR)
  tests/models/boltz/test_boltz_wrapper.py
Due: pyright-boltz

hard code num_steps and num_recycles for now
  src/sampleworks/models/rf3/wrapper.py
Due: pyright-boltz

git dependency for now until rf3 in-place ops are fixed
  pyproject.toml
Due: sort_pyproject

conftest properly instantiates modelwrapper for RF3
  tests/conftest.py
Due: pyright-boltz

fixing RF3 wrapper usage now that init has changed
  src/sampleworks/utils/guidance_script_arguments.py
  src/sampleworks/utils/imports.py
Due: pyright-boltz

improved get_pixi_env syntax
  new_run_grid_search.py
Due: pyright-boltz

use str.title instead of complicated slicing, clarifying comment on trajectory_denoised append
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
Due: pyright-boltz

add modelwrappers = None if they fail to import
  src/sampleworks/utils/guidance_script_utils.py
Due: pyright-boltz
