Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.(cif|pdb|ccp4|mtz|mrc)$

  - repo: local
    hooks:
      - id: sort_pyproject
        name: sort pyproject.toml
        entry: toml-sort
        args: ["-i", "--sort-table-keys", "--sort-inline-tables"]
        language: python
        files: ^pyproject\.toml$
        additional_dependencies:
          - toml-sort==0.24.3

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--verbose, --fix]
      # Run the formatter.
      - id: ruff-format
        args: [--verbose]

  - repo: local
    hooks:
      - id: ty-boltz
        name: ty (boltz environment)
        entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        exclude: (real_space_density|protenix|rf3|rfd3)
        priority: 50

      - id: ty-rf3
        name: ty (rf3 environment)
        entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: (rf3|rfd3)
        priority: 50

      - id: ty-protenix
        name: ty (protenix environment)
        entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
        language: system
        types: [python]
        pass_filenames: true
        files: protenix
        priority: 50

fix(astera): stop SBGrid shadowing system curl in diffuse workspaces (#385)
  docker/astera/sbgrid-shell.sh
Due: none

fix(astera): keep pixi's cache off the NFS home volume (#369)
  Dockerfile.astera
Due: none

fix(astera): remove malformed Dockerfile instruction
  Dockerfile.astera
Due: none

test(runs): force pixi argv path
  tests/runs/test_runner.py
Due: ty-boltz

fix(utils): clean temporary altloc CIFs
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/utils/test_cif_utils.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

chore: rename diff-use org references to prism-science
  CODEOWNERS
  GRID_SEARCH.md
  README.md
  pyproject.toml
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/run_and_process_phenix_clashscore.py
  scripts/eval/run_and_process_tortoize.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
Due: sort_pyproject, ty-boltz

Added the partial diffusion modification to the ito process
  experiments/it_opt_8gpu.toml
  src/sampleworks/core/scalers/latent_optimization.py
  src/sampleworks/utils/guidance_script_utils.py
Due: ty-boltz

Added new toml to test.
  tests/runs/conftest.py
Due: ty-boltz

added two test for the ito process
  tests/models/test_latent_optimization.py
  tests/utils/test_cif_utils.py
Due: ty-boltz

DO NOT MERGE before Aug 26 org rename (#392)
  CODEOWNERS
  GRID_SEARCH.md
  README.md
  pyproject.toml
  scripts/eval/lddt_evaluation_script.py
  scripts/eval/run_and_process_phenix_clashscore.py
  scripts/eval/run_and_process_tortoize.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/cif_utils.py
  src/sampleworks/utils/guidance_script_utils.py
Due: sort_pyproject, ty-boltz

(feat)move dev dependencies to a pixi feature, makes it easier to use dev environments on OS X
  pyproject.toml
Due: sort_pyproject

Restore correct structure file loading so that RSCC doesn't load hydrogens or use imputed atoms, consistent with the Stacks paper
  scripts/eval/rscc_grid_search_script.py
Due: ty-boltz

chore(docs): Update docs to reflect support for macOS (#371)
  README.md
Due: none

refactor(tests): share the preparable mock reward; say what prepare binds to
  src/sampleworks/core/rewards/protocol.py
  src/sampleworks/core/scalers/fk_steering.py
  src/sampleworks/core/scalers/pure_guidance.py
  tests/integration/test_pipeline_integration.py
  tests/mocks/__init__.py
  tests/mocks/rewards.py
  tests/rewards/test_prepare_hook.py
Due: ty-boltz

feat(eval): add pluggable lDDT/RMSD altloc loop scoring
  analyses/altloc_classify.toml
  scripts/eval/classify_altloc_regions.py
Due: ty-boltz

chore: change warning type and fix typo
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/eval/structure_utils.py
Due: ty-boltz

feat(evals): add alternative loop classification scores when classifying altlocs into different types (#338)
  analyses/altloc_classify.toml
  scripts/eval/classify_altloc_regions.py
Due: ty-boltz

refactor(synthetic): relocate density generation
  src/sampleworks/synthetic/generate_synthetic_density.py
  tests/synthetic/test_generate_synthetic_density.py
Due: ty-boltz

feat: move dev dependencies to a pixi feature (#394)
  pyproject.toml
Due: sort_pyproject

fix(eval): harden CIF output patching and RSCC parsing
  .actlignore
  scripts/eval/rscc_grid_search_script.py
  scripts/patch_output_cif_files.py
Due: ty-boltz

fix(evals): cif patching regression to allow protenix outputs to run on all evals, and remove hydrogens in RSCC parsing (#336)
  .actlignore
  scripts/eval/rscc_grid_search_script.py
  scripts/patch_output_cif_files.py
Due: ty-boltz

(fix)correctly handle zero-occupancy and nan-coordinate atoms in ProtpardelleWrapper.{featurize,init_from_noise}
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/models/protpardelle/wrapper.py
Due: ty-boltz

(chore) formatting and comments to differentiate some helper methods that identify valid pixi environments
  tests/test_run_grid_search.py
Due: ty-boltz

Add options to run_grid_search.py to run protpardelle.
  run_grid_search.py
Due: ty-boltz

fix(grid-search): run protpardelle jobs in their pixi env (#345)
  tests/test_run_grid_search.py
Due: ty-boltz

fix(runs): resolve the pixi manifest the runner will actually use (#357)
  run_grid_search.py
Due: ty-boltz

(chore)Fixes to pyproject.toml; ruff and ty checks
  pixi.lock
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/models/protpardelle/wrapper.py
Due: ty-boltz

updating pixi.lock
  pixi.lock
Due: none

fix weird formatting problem with AGENTS.md, unrelated to PR
  AGENTS.md
Due: none

Check for infinite coordinates, not just NaN, in get_valid_atom_mask
  src/sampleworks/eval/structure_utils.py
Due: ty-boltz

fix: ppdl init from noise and atom filtering. (#370)
  AGENTS.md
  pixi.lock
  src/sampleworks/eval/structure_utils.py
  src/sampleworks/models/protpardelle/wrapper.py
Due: ty-boltz

chore: change warning call and fix typo (#396)
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/eval/structure_utils.py
Due: ty-boltz

ci(docker): pin skopeo to an immutable quay digest so main image builds run again
  .github/workflows/docker.yml
Due: none

ci(docker): pin skopeo to an immutable quay digest so main image builds run again (#397)
  .github/workflows/docker.yml
Due: none

fix(docker): remove stray line that fails Dockerfile.astera parsing
  Dockerfile.astera
Due: none

fix(docker): remove stray line that fails Dockerfile.astera parsing (#398)
  Dockerfile.astera
Due: none

test(synthetic): assert atom identity in the chain_info round-trip
  src/sampleworks/synthetic/synthetic_utils.py
  tests/synthetic/test_generate_synthetic_sf.py
Due: ty-boltz

fix(synthetic): drop setup_entities() from atomarray_to_gemmi so written cifs round-trip chain_info
  src/sampleworks/synthetic/synthetic_utils.py
  tests/synthetic/test_generate_synthetic_sf.py
Due: ty-boltz

refactor(utils): centralize structure parsing options
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/eval/test_rscc_grid_search_script.py
  tests/synthetic/test_generate_synthetic_sf.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz

fix(synthetic): drop setup_entities() from atomarray_to_gemmi so written cifs round-trip chain_info (#378)
  scripts/eval/rscc_grid_search_script.py
  src/sampleworks/synthetic/synthetic_utils.py
  src/sampleworks/utils/atom_array_utils.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/eval/test_rscc_grid_search_script.py
  tests/synthetic/test_generate_synthetic_sf.py
  tests/utils/test_guidance_script_utils.py
Due: ty-boltz
