Repository diff-use/sampleworks: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ty-boltz, ty-rf3, ty-protenix

sort_pyproject:
  name: sort pyproject.toml
  entry: toml-sort
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  language: python
  additional_dependencies:
  - toml-sort==0.24.3

ty-boltz:
  name: ty (boltz environment)
  entry: bash -c 'pixi run -e boltz-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-rf3:
  name: ty (rf3 environment)
  entry: bash -c 'pixi run -e rf3-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

ty-protenix:
  name: ty (protenix environment)
  entry: bash -c 'pixi run -e protenix-dev ty check "$@"' --
  language: system
  pass_filenames: true
  priority: 50

chore(docker): keep Astera overlay on pixi-with-checkpoints
  .github/workflows/docker.yml
  Dockerfile
  Dockerfile.astera
  GRID_SEARCH.md
  README.md
  docker-entrypoint.sh
  run_experiments
  src/sampleworks/runs/runner.py
Due: ty-boltz

chore(docker): address image review hardening
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
  Dockerfile.astera
  GRID_SEARCH.md
  README.md
Due: none

docs(docker): document pixi image names
  .github/workflows/docker.yml
  Dockerfile
  README.md
  run_grid_search.py
Due: ty-boltz

feat(runs): add analysis preset harness
  Dockerfile
  README.md
  analyses/all.toml
  analyses/altloc_classify.toml
  analyses/altloc_find.toml
  analyses/external_tools.toml
  analyses/grid_search.toml
  docker-entrypoint.sh
  pyproject.toml
  run_analysis
  run_analysis.sh
  scripts/eval/EVALUATION.md
  src/sampleworks/runs/__init__.py
  src/sampleworks/runs/analysis_cli.py
  src/sampleworks/runs/cli.py
  src/sampleworks/runs/loader.py
  src/sampleworks/runs/runner.py
  src/sampleworks/runs/schema.py
  tests/runs/test_runner.py
Due: sort_pyproject, ty-boltz

feat(runs): automate analysis CIF patching
  README.md
  analyses/all.toml
  analyses/external_tools.toml
  analyses/grid_search.toml
  scripts/eval/EVALUATION.md
  scripts/patch_output_cif_files.py
  src/sampleworks/runs/cli.py
  src/sampleworks/runs/loader.py
  src/sampleworks/runs/runner.py
  src/sampleworks/runs/schema.py
  tests/runs/test_runner.py
Due: ty-boltz

docs(runs): clarify filtered pre-jobs
  src/sampleworks/runs/cli.py
Due: ty-boltz

chore(docker): address Astera image review comments
  .github/workflows/docker.yml
  Dockerfile
  Dockerfile.astera
Due: none

chore(docker): mirror checkpoints before build
  .github/workflows/docker.yml
  README.md
Due: none

ci: run checks for Docker changes
  .github/workflows/ci.yml
Due: none

ci(docker): use mirrored checkpoint digest
  .github/workflows/docker.yml
  README.md
Due: none

Split public and Astera images (#244)
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  Dockerfile
  Dockerfile.astera
  GRID_SEARCH.md
  README.md
  docker-entrypoint.sh
  run_grid_search.py
Due: ty-boltz

chore(ci): run docker workflow on Astera builder
  .github/workflows/docker.yml
Due: none

fix(runs): address analysis harness review comments
  Dockerfile
  README.md
  analyses/all.toml
  analyses/altloc_classify.toml
  analyses/altloc_find.toml
  analyses/analyze_grid_search.toml
  analyses/external_tools.toml
  run_analysis
  scripts/eval/EVALUATION.md
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/runs/analysis_cli.py
  src/sampleworks/runs/cli.py
  src/sampleworks/runs/runner.py
  src/sampleworks/runs/schema.py
  tests/runs/test_cli.py
  tests/runs/test_runner.py
Due: ty-boltz

feat(runs): add analysis preset harness (#245)
  Dockerfile
  README.md
  analyses/all.toml
  analyses/altloc_classify.toml
  analyses/altloc_find.toml
  analyses/analyze_grid_search.toml
  analyses/external_tools.toml
  docker-entrypoint.sh
  pyproject.toml
  run_analysis
  run_analysis.sh
  scripts/eval/EVALUATION.md
  scripts/patch_output_cif_files.py
  src/sampleworks/eval/grid_search_eval_utils.py
  src/sampleworks/runs/__init__.py
  src/sampleworks/runs/analysis_cli.py
  src/sampleworks/runs/cli.py
  src/sampleworks/runs/loader.py
  src/sampleworks/runs/runner.py
  src/sampleworks/runs/schema.py
  tests/runs/test_cli.py
  tests/runs/test_runner.py
Due: sort_pyproject, ty-boltz

0.8.0
  pyproject.toml
Due: sort_pyproject

Changes to pixi files to facilitate development on Mac OSX
  pixi.lock
  pyproject.toml
Due: sort_pyproject

test(runs): isolate runner tests from ACTL env
  tests/runs/conftest.py
Due: ty-boltz

fix(docker): set sampleworks workspace home
  Dockerfile
  Dockerfile.astera
Due: none

Updating tests in test_runner.py to allow them to run on only one GPU
  tests/runs/test_runner.py
Due: ty-boltz

test(runs): isolate runner tests from ACTL workspace
  tests/runs/conftest.py
Due: ty-boltz

fix(docker): install workspace bashrc snippet
  Dockerfile
Due: none

Run docker workflow on Astera builder (#251)
  .github/workflows/docker.yml
Due: none

test(runs): isolate workspace script detection
  tests/runs/conftest.py
Due: ty-boltz

test(runs): avoid pixi prep in pre-job test
  tests/runs/test_runner.py
Due: ty-boltz

test(runs): isolate runner tests from ACTL env (#252)
  tests/runs/conftest.py
  tests/runs/test_runner.py
Due: ty-boltz

feat(models): add Protpardelle-1c StructureModelWrapper
  src/sampleworks/models/protpardelle/__init__.py
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_constants.py
  src/sampleworks/utils/imports.py
  tests/models/protpardelle/__init__.py
  tests/models/protpardelle/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: ty-boltz

fix(docker): set sampleworks workspace home (#253)
  Dockerfile
  Dockerfile.astera
Due: none

0.8.1
  pyproject.toml
Due: sort_pyproject

chore(docker): install zsh in Astera image
  Dockerfile.astera
Due: none

chore(docker): make tool validation fail fast
  Dockerfile.astera
Due: none

chore(docker): add ACTL debug tools
  Dockerfile.astera
Due: none

chore(docker): install ACTL shell and debug tools (#254)
  Dockerfile.astera
Due: none

[WIP] fixing Claude's implementation of a Protenix wrapper, so it doesn't just give us unguided samples
  pixi.lock
  pyproject.toml
  src/sampleworks/core/samplers/edm.py
  src/sampleworks/data/cc89_epoch415.yaml
  src/sampleworks/models/protpardelle/wrapper.py
  src/sampleworks/utils/guidance_script_utils.py
  tests/models/protpardelle/conftest.py
  tests/models/protpardelle/test_protpardelle_wrapper.py
Due: sort_pyproject, ty-boltz

refactor(density): remove duplicate assign_occupancies and import from utils instead
  src/sampleworks/eval/generate_synthetic_density.py
Due: ty-boltz

refactor(sfc): tighten AtomArray typing in synthetic helpers
  src/sampleworks/eval/generate_synthetic_sf.py
  src/sampleworks/eval/synthetic_utils.py
  tests/eval/test_generate_synthetic_sf.py
Due: ty-boltz

refactor(sfc): improve naming, documentation, and validation in synthetic sf script
  pixi.lock
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/generate_synthetic_sf.py
  src/sampleworks/eval/synthetic_utils.py
Due: ty-boltz

test(sfc): add more tests on atomarray_to_gemmi and occupancy reassignment, document GPU memory issue in both synthetic scripts
  src/sampleworks/eval/generate_synthetic_density.py
  src/sampleworks/eval/generate_synthetic_sf.py
  tests/eval/test_generate_synthetic_sf.py
Due: ty-boltz

build(deps): add protenix-dev-sfc env and relax setuptools pin and add tests docstring
  pixi.lock
  pyproject.toml
  tests/eval/test_generate_synthetic_sf.py
Due: sort_pyproject, ty-boltz

feat: generate synthetic sf using atomarray. refactored assign_occupancies function
  src/sampleworks/eval/generate_synthetic_sf.py
  src/sampleworks/utils/atom_array_utils.py
Due: ty-boltz

build(deps): promote sfcalculator-torch to core dependency, add joblib to analysis dependency
  pixi.lock
  pyproject.toml
  tests/eval/test_generate_synthetic_sf.py
Due: sort_pyproject, ty-boltz

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ty-boltz: any of: \.py$, but not: (real_space_density|protenix|rf3|rfd3)
  ty-rf3: any of: (rf3|rfd3) and \.py$
  ty-protenix: any of: protenix and \.py$
